<h2 mat-dialog-title translate>common.searchCanBo</h2>
<div mat-dialog-content style="height: 60vh">
  <div class="card-body">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
      <div class="row">
        <div class="form-group col-sm-6">
          <label translate>&nbsp;</label>
          <div class="control">
            <div class="input-group-prepend" dropdown>
              <button type="button" class="btn btn-block input is-primary input" dropdownToggle translate>
                <label translate>common.id_donVi </label>
                <label class="dropdown-toggle dropdown-toggle-right"></label>
              </button>
              <div class="dropdown-menu" *dropdownMenu (click)="$event.stopPropagation()">
                <kendo-treeview class="treeview" [nodes]="donVis" [children]="children" [hasChildren]="hasChildren"
                  textField="label" kendoTreeViewExpandable [kendoTreeViewCheckable]="checkableSettings" [(checkedKeys)]="id_donVis" [checkBy]="'data'">
                </kendo-treeview>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label translate>common.content</label>
          <div class="control">
            <input class="form-control input is-primary" formControlName="tenCanBo" />
          </div>
        </div>
        <div class="form-group col-sm-3">
          <label></label>
          <div class="control">
            <button type="submit" class="button is-primary"><i class="fa fa-search"></i> <span translate>common.search</span></button>
          </div>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="index">
            <th mat-header-cell class="index" *matHeaderCellDef> <label translate>Index </label> </th>
            <td mat-cell class="index" *matCellDef="let element; index as i"v style="text-align: center;">
              {{paginator.pageSize * paginator.pageIndex + i + 1}} </td>
          </ng-container>
          <ng-container matColumnDef="maCanBo">
            <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>info.maCanBo </label>
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.MaCanBo}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="hoTen">
            <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>info.hoTen </label>
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.HoTen}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="gioiTinh">
            <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>info.gioiTinh </label>
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.GioiTinh}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>info.email </label>
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.Email}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="dienThoaiDD">
            <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>info.dienThoaiDD </label>
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.DienThoaiDD}} </mat-cell>
          </ng-container>
         
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
            (click)="onSelectedRow(row)">
          </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[20, 50, 100, 200]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" class="border btn btn-danger"><span translate>common.cancel</span></button>
  <button mat-button [mat-dialog-close]="true" *ngIf="selectedRow" (click)="onSubmit()" class="border btn btn-success" cdkFocusInitial><span
      translate>common.ok</span></button>
</div>