// Here you can add other styles
.login-main {
  background-image: url("../assets/img/brand/login_bg.jpg");
}
.bg-shadow-5 {
  background-color: rgba(0,0,0,0.5) !important;
}
.bg-shadow-3 {
  background-color: rgba(0,0,0,0.3) !important;
}
.mat-elevation-z8 {
  width: 100% !important;
}
.mat-row:hover {
  background-color: beige;
}
.selected {
  background-color: beige;
}
.center {
  position: absolute;
  top: 80%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.dropdown-toggle-right {
  position: absolute;
  top: 50%;
  left: 95%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.dropdown-toggle-right1 {
  position: absolute;
  top: 50%;
  left: 95%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.right10percent {
  position: absolute;
  top: 50%;
  left: 40%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.text2p * {
  font-size: 14px !important;
}
.margin {
  position: absolute;
  margin-top: 15px;
  left: 50%;
  width: 20px;
  height: 20px;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.border-custom {
  border-bottom: 2px solid LightGray;
  border-top: 2px solid LightGray;
}
.border-search {
  border-radius: 0px;
  border: 2px solid #00c4a7;
  width: 100% !important;
}
.border-bot {
  border-bottom: 2px solid LightGray;
}
.text-center {
  text-align: center;
}
// chat template
.msg_history {
  overflow-y: auto;
}
.mesgs {
  float: left;
  padding: 5px 15px 0 15px;
  width: 100%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 100%;
}
.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
  position: relative;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}
.msg_edit_btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 17px;
  position: absolute;
  height: 30px;
  right: 0%;
  top: 0px;
  width: 30px;
}
.type_msg {
  width: 98%;
}
.treeview {
  position: relative;
  min-width: 6.625rem;
  padding: 0.5rem 0 1.5rem;
  width: 100%;
  margin-top: 4px;
  padding-bottom: 2px;
  outline: 0;
  cursor: pointer;
  max-height: 350px !important;
}
.treeview :checked {
  background-color: #2196f3;
  border: none;
}
// loading background
.spinner_container {
  border-radius: 10px;
  height: 70px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  z-index: 3;
  opacity: 0.5;
}
.dark-overlay * {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 805px;
}
.th-center {
  text-align: center;
}
.th-left {
  text-align: left;
}
.th-right {
  text-align: right;
}
.w-30 {
  width: 30%;
}

.w-5 {
  width: 5%;
}

.index {
  border-bottom: 0px !important;
  margin-top: 0px;
  width: 9%;
}
// .mat-cell {
//   text-align: left;
// }

.custom-row{
  border-bottom: 0px !important;
  margin-top: 0px;
  flex-direction: column;
  justify-content: center;
}
.custom-border-table{
  // border-bottom: 1px solid LightGray;
  // border-top: 1px solid LightGray;

  border: 1px solid LightGray;
  // border-width: 80% 1px
  // margin-right: 2%;
  // margin-left: 2%;
}
form {
  z-index: 9999 !important;
}
// Style menu
.sidebar .nav-link .menu-level2 {
  margin: 0 1.5rem 0 0 !important;
  padding-left: 30px !important;
}
.sidebar .nav-link .menu-level3 {
  margin: 0 1.5rem 0 0 !important;
  padding-left: 60px !important;
}
.sidebar .nav-link .menu-level4 {
  margin: 0 1.5rem 0 0 !important;
  padding-left: 90px !important;
}
// Mat table
.mat-center {
  justify-content: center !important;
}
.mat-left {
  justify-content: left !important;
}
.mat-right {
  justify-content: right !important;
}
.mat-header-cell {
  justify-content: center !important;
}
.ui-treetable-toggler .ui-unselectable-text{
  margin-left: 0px !important;
}
.dropdown-height {
  max-height: 400px !important;
  z-index: 1101 !important;
}
.button-remove-custom {
  position: absolute;
  top: 94%;
  left: 96%;
  transform: translate(-100%, -100%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}
.button-remove-giophat-custom {
  position: absolute;
  top: 70%;
  left: 98%;
  transform: translate(-100%, -100%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}
.float-bottom {
  position: absolute;
    bottom: 20vh;
}
#file-label {
  display: inline-flex;
  vertical-align: middle;
  font-size: 12px;
  line-height: 18px;
}

#file-label mat-icon {
  font-size: 18px;
  text-align: center;
}

#file-label a {
  cursor: pointer;
}
.custom-dropdown-row {
  left: 10px !important;
}
.custom-background {
  background: #41abdb !important;
  color: #41abdb !important;
  align-items: center;
  border-bottom: 0px;
  position: relative;
  margin-top: 0px !important;
}
.custom-menu {
  // margin-top: 0px !important;
  // margin-left: 140px !important;
}
.custom-item {
  z-index: 1100 !important;
}
.logout {
  // position: fixed !important;
  // margin-top: 0px !important;
  margin-left: auto !important;
}
mat-header-cell {
  font-weight:bold !important;
  color: #000 !important;
  background-color: lightblue !important;
  font-size: 15px !important;
}
mat-header-row {
  background-color: lightblue !important;
}
.custom-input-date {
  height: 35px !important;
}