<h2 mat-dialog-title translate>{{data.tenBaoCao}}</h2>
<form [formGroup]="dotTqForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content style="height: 55vh;">
    <!-- <div class="form-group field" *ngIf="data.searchTinh == 1">
      <label translate>dqtv.id_tinh</label><span style="color: red;">*</span>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_tinh"
          [ngClass]="{ 'is-invalid': submitted && f.id_tinh.errors }" (selectionChange)="getHuyen($event.value)">
          <mat-option *ngFor="let tinh of tinhs" [value]="tinh.id">
            {{tinh.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_tinh.errors" class="help is-danger">
          <div *ngIf="f.id_tinh.errors.required" translate>dqtv.validate.id_tinh.required
          </div>
        </div>
      </div>
    </div> -->
    <div class="form-group field" *ngIf="data.searchHuyen > 0">
      <label translate>&nbsp;</label>
      <div class="control">
        <div class="input-group-prepend" dropdown>
          <button type="button" class="btn btn-block input is-primary input" dropdownToggle translate>
            <label translate>cd.id_huyen</label>
            <label class="dropdown-toggle dropdown-toggle-right"></label>
          </button>
          <div class="dropdown-menu" *dropdownMenu (click)="$event.stopPropagation()">
            <!-- <p-tree [value]="donVis" selectionMode="checkbox" [(selection)]="selectedBaoCaos"></p-tree> -->
            <kendo-treeview class="treeview" [nodes]="huyens" [children]="children" [hasChildren]="hasChildren"
              textField="name" kendoTreeViewExpandable [kendoTreeViewCheckable]="checkableSettings"
              [(checkedKeys)]="id_huyens" [checkBy]="'id'">
            </kendo-treeview>
          </div>
        </div>
        <div *ngIf="submitted && f.id_huyens.errors" class="help is-danger">
          <div *ngIf="f.id_huyens.errors.required" translate>tq.congDan.validate.id_huyen.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field" *ngIf="data.searchDonViQuanLy > 0">
      <label translate>&nbsp;</label>
      <div class="control">
        <div class="input-group-prepend" dropdown>
          <button type="button" class="btn btn-block input is-primary input" dropdownToggle translate>
            <label translate>tq.congDan.id_donViQuanLy </label>
            <label class="dropdown-toggle dropdown-toggle-right"></label>
          </button>
          <div class="dropdown-menu" *dropdownMenu (click)="$event.stopPropagation()">
            <!-- <p-tree [value]="donVis" selectionMode="checkbox" [(selection)]="selectedBaoCaos"></p-tree> -->
            <kendo-treeview class="treeview" [nodes]="donVis" [children]="children" [hasChildren]="hasChildren"
              textField="label" kendoTreeViewExpandable [kendoTreeViewCheckable]="checkableSettings"
              [(checkedKeys)]="id_donVis" [checkBy]="'data'" [expandBy]="'data'" [(expandedKeys)]="expandedKeys"
              [kendoTreeViewDisable]="'data'" [(disabledKeys)]="disabledKeys">

            </kendo-treeview>
          </div>
        </div>
        <div *ngIf="submitted && f.id_donViQuanLys.errors" class="help is-danger">
          <div *ngIf="f.id_donViQuanLys.errors.required" translate>tq.congDan.validate.id_donViQuanLy.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field" *ngIf="data.searchDonViDbdv > 0">
      <label translate>&nbsp;</label>
      <div class="control">
        <div class="input-group-prepend" dropdown>
          <button type="button" class="btn btn-block input is-primary input" dropdownToggle translate>
            <label translate>tq.congDan.id_donViDbdv </label>
            <label class="dropdown-toggle dropdown-toggle-right"></label>
          </button>
          <div class="dropdown-menu" *dropdownMenu (click)="$event.stopPropagation()">
            <!-- <p-tree [value]="donVis" selectionMode="checkbox" [(selection)]="selectedBaoCaos"></p-tree> -->
            <kendo-treeview class="treeview" [nodes]="donViDbdvs" [children]="children" [hasChildren]="hasChildren"
              textField="name" kendoTreeViewExpandable [kendoTreeViewCheckable]="checkableSettings"
              [(checkedKeys)]="id_donViDbdvs" [checkBy]="'id'">
            </kendo-treeview>
          </div>
        </div>
        <div *ngIf="submitted && f.id_donViDbdvs.errors" class="help is-danger">
          <div *ngIf="f.id_donViDbdvs.errors.required" translate>tq.congDan.validate.id_donViDbdv.required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group field" *ngIf="data.tuNgay">
      <label translate>common.tuNgay</label><span style="color: red;">*</span>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="tuNgay"
          [ngClass]="{ 'is-invalid': submitted && f.tuNgay.errors }" />
        <div *ngIf="submitted && f.tuNgay.errors" class="help is-danger">
          <div *ngIf="f.tuNgay.errors.required" translate>common.validate.tuNgay.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field" *ngIf="data.denNgay">
      <label translate *ngIf="data.tuNgay">common.denNgay</label><span *ngIf="data.tuNgay" style="color: red;">*</span>
      <label translate *ngIf="!data.tuNgay">common.ngayBaoCao</label><span *ngIf="!data.tuNgay" style="color: red;">*</span>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="denNgay"
          [ngClass]="{ 'is-invalid': submitted && f.denNgay.errors }" />
        <div *ngIf="submitted && f.denNgay.errors" class="help is-danger">
          <div *ngIf="f.denNgay.errors.required && data.tuNgay" translate>common.validate.denNgay.required</div>
          <div *ngIf="f.denNgay.errors.required && !data.tuNgay"  translate>tq.dotTq.validate.ngayBaoCao.tuNgay</div>

        </div>
        <div *ngIf="falseDate == true" class="help is-danger">
          <div translate>tq.dotTq.validate.denNgay.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field" *ngIf="data.searchDotTuyenQuan">
      <label translate>tq.dotTq.nam</label> <span style="color: red;">*</span>
      <div class="control">
        <mat-select formControlName="nam" class="form-control input is-primary"
          (selectionChange)="loadDotTuyenQuan($event.value)">
          <mat-option *ngFor="let number of numbers" [value]="number">
            {{number}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group field" *ngIf="data.searchDotTuyenQuan">
      <label translate>tq.xetDuyetHuyen.id_dotTuyenQuan</label><span style="color: red;">*</span>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_dotTuyenQuan">
          <mat-option *ngFor="let dotTuyenQuan of dotTuyenQuans" [value]="dotTuyenQuan.id">
            {{dotTuyenQuan.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_dotTuyenQuan.errors" class="help is-danger">
          <div *ngIf="f.id_dotTuyenQuan.errors.required" translate>tq.congDan.validate.id_dotTuyenQuan.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field" *ngIf="data.searchTuoi == 1">
      <label translate>dqtv.tuoiTu</label>
      <div class="control">
        <input type="number" class="form-control input is-primary" formControlName="tuoi"
          [ngClass]="{ 'is-invalid': submitted && f.tuoi.errors }" />
      </div>
    </div>
    <div class="form-group field" *ngIf="data.searchTrinhDoVanHoa == 1">
      <label translate>tq.congDan.id_trinhDoVanHoa</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_trinhDoVanHoa">
          <mat-option><span translate>None</span></mat-option>
          <mat-option value='2'><span translate>tq.congDan.lop8</span></mat-option>
          <mat-option value='1'><span translate>tq.congDan.lop7</span></mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group field" *ngIf="data.searchTrinhDoHocVan == 1">
      <label translate>tq.congDan.id_trinhDoHocVan</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_trinhDoHocVan">
          <mat-option><span translate>None</span></mat-option>
          <mat-option value='1'><span translate>tq.soCapTrungCap</span></mat-option>
          <mat-option value='2'><span translate>tq.caoDangDaiHoc</span></mat-option>
        </mat-select>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button class="border btn btn-danger" type="button" (click)="onNoClick()"><span
        translate>common.cancel</span></button>
    <button mat-button class="border btn btn-success" type="submit" cdkFocusInitial><span
        translate>common.save</span></button>
  </div>
</form>