<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <strong translate>luong.luongThoaThuan.title</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="index">
              <th mat-header-cell class="index" *matHeaderCellDef> <label translate>Index </label> </th>
              <td mat-cell class="index" *matCellDef="let element; index as i" v style="text-align: center;">
                {{paginator.pageSize * paginator.pageIndex + i + 1}} </td>
            </ng-container>
            <ng-container matColumnDef="ngayCapNhat">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>luong.ngayCapNhat </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.NgayCapNhat}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="huongTuNgay">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>luong.huongTuNgay </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.HuongTuNgay}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ngachLuong">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>luong.ngachLuong </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.NgachLuong}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="bacLuong">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>luong.bacLuong </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.BacLuong}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tienLuong">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>luong.tienLuong </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.TienLuong}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
              (click)="onSelectedRow(row)">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[100, 250, 500, 1000]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>