<h2 mat-dialog-title  translate>admin.role</h2>
<form [formGroup]="roleForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <div class="form-group field">
      <label translate>common.code</label><span style="color: red;">*</span>
      <div class="control">
        <input class="form-control input is-primary" formControlName="code"
          [ngClass]="{ 'is-invalid': submitted && f.code.errors }" />
        <div *ngIf="submitted && f.code.errors" class="help is-danger">
          <div *ngIf="f.code.errors.required" translate>common.validate.code.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>common.name</label><span style="color: red;">*</span>
      <div class="control">
        <input class="form-control input is-primary" formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="help is-danger">
          <div *ngIf="f.name.errors.required" translate>common.validate.name.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>common.description</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="description"
          [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
      </div>
    </div>
    <div class="form-group field">
      <label translate>common.sortOrder</label><span style="color: red;">*</span>
      <div class="control">
        <input class="form-control input is-primary" formControlName="sortOrder"
          [ngClass]="{ 'is-invalid': submitted && f.sortOrder.errors }" />
          <div *ngIf="submitted && f.sortOrder.errors" class="help is-danger">
            <div *ngIf="f.sortOrder.errors.required" translate>common.validate.sortOrder.required</div>
            <div *ngIf="f.sortOrder.errors.min" translate>common.validate.sortOrder.min0</div>
          </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button class="border btn btn-danger" type="button" (click)="onNoClick()"><span
        translate>common.cancel</span></button>
    <button mat-button class="border btn btn-success" type="submit" cdkFocusInitial><span
        translate>common.save</span></button>
  </div>
</form>