<h2 mat-dialog-title translate>ttbh.quaTrinhBhnt</h2>
<div mat-dialog-content>
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="index">
        <th mat-header-cell class="index" *matHeaderCellDef> <label translate>Index </label> </th>
        <td mat-cell class="index" *matCellDef="let element; index as i" v style="text-align: center;">
          {{paginator.pageSize * paginator.pageIndex + i + 1}} </td>
      </ng-container>
      <ng-container matColumnDef="soHopDong">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ttbh.soHopDong </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.soHopDong}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="tuNgay">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>common.tuNgay </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.tuNgay}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="denNgay">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>common.denNgay </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.denNgay}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="mucDong">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ttbh.mucDong </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.mucDong}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="loaiBienDong">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ttbh.loaiBienDong </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.loaiBienDong}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="chucVu">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ttbh.chucVu </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.chucVu}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
        (click)="onSelectedRow(row)">
      </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 50, 100, 200]"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button class="border btn btn-success" type="button" (click)="onNoClick()"><span
      translate>common.ok</span></button>
</div>