<h2 mat-dialog-title translate> <span translate>common.update</span> {{data.name |translate }}</h2>
<form [formGroup]="dmForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <div class="form-group field">
      <label translate>common.code</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="code"
          [ngClass]="{ 'is-invalid': submitted && f.code.errors }" />
        <div *ngIf="submitted && f.code.errors" class="help is-danger">
          <div *ngIf="f.code.errors.required" translate>common.validate.code.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>common.name</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="help is-danger">
          <div *ngIf="f.name.errors.required" translate>common.validate.name.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field" *ngIf="data.name=='dmXa'">
      <label translate>danhMuc.id_capHanhChinh</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_capHanhChinh"
          [ngClass]="{ 'is-invalid': submitted && f.id_capHanhChinh.errors }">
          <mat-option *ngFor="let capHanhChinh of capHanhChinhs" [value]="capHanhChinh.id">
            {{capHanhChinh.name}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group field" *ngIf="data.name=='dmXa'">
      <label translate>danhMuc.ngayCongNhanTrongDiem</label>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="ngayCongNhanTrongDiem"
          [ngClass]="{ 'is-invalid': submitted && f.ngayCongNhanTrongDiem.errors }" />
      </div>
    </div>
    <div class="form-group field" *ngIf="data.name=='dmXa'">
      <label translate>danhMuc.id_phanLoaiTrongDiem</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_phanLoaiTrongDiem"
          [ngClass]="{ 'is-invalid': submitted && f.id_phanLoaiTrongDiem.errors }">
          <mat-option *ngFor="let phanLoaiTrongDiem of phanLoaiTrongDiems" [value]="phanLoaiTrongDiem.id">
            {{phanLoaiTrongDiem.name}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group field" *ngIf="data.name=='dmXa'">
      <label translate>danhMuc.ngayThoiTrongDiem</label>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="ngayThoiTrongDiem"
          [ngClass]="{ 'is-invalid': submitted && f.ngayCongNhanTrongDiem.errors }" />
      </div>
    </div>
    <div class="form-group field" *ngIf="data.name=='dmXa'">
      <label translate>danhMuc.id_loaiXa</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_loaiXa"
          [ngClass]="{ 'is-invalid': submitted && f.id_loaiXa.errors }">
          <mat-option *ngFor="let loaiXa of loaiXas" [value]="loaiXa.id">
            {{loaiXa.name}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group field">
      <label translate>danhMuc.id_phanLoaiDiaLy</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_phanLoaiDiaLy"
          [ngClass]="{ 'is-invalid': submitted && f.id_phanLoaiDiaLy.errors }">
          <mat-option *ngFor="let phanLoaiDiaLy of phanLoaiDiaLys" [value]="phanLoaiDiaLy.id">
            {{phanLoaiDiaLy.name}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group field">
      <label translate>common.sortOrder</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="sortOrder"
          [ngClass]="{ 'is-invalid': submitted && f.sortOrder.errors }" />
        <div *ngIf="submitted && f.sortOrder.errors" class="help is-danger">
          <div *ngIf="f.sortOrder.errors.required" translate>common.validate.sortOrder.required</div>
          <div *ngIf="f.sortOrder.errors.min" translate>common.validate.sortOrder.min.0</div>
        </div>
      </div>
    </div>
  </div>
   <div mat-dialog-actions>
    <button mat-button class="border btn btn-danger" type="button" (click)="onNoClick()"><span
        translate>common.cancel</span></button>
    <button mat-button class="border btn btn-success" type="submit" cdkFocusInitial><span
        translate>common.save</span></button>
  </div>
</form>