<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <i class="fa fa-align-justify"></i><a [routerLink]="['/dm']" translate>danhMuc</a>&nbsp;/&nbsp;
      <strong translate>danhMuc.tinhHuyenXa.title</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <div class="mat-elevation-z2">
            <div class="card-header">
              <strong translate>danhMuc.dmTinh</strong>
            </div>
            <mat-table [dataSource]="dataSource1" matSort>
              <!-- Code Column -->
              <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef mat-sort-header translate>
                  <div translate>common.code</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header translate>
                  <div translate>common.name</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
              </ng-container>
              <!-- actions -->
              <mat-cell matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef layout-align="center">
                  <button mat-icon-button color="primary" (click)="openUpdateDialog({name:'dmTinh'})"
                    *ngIf="permission.DM_Tinh_Huyen_Xa._insert">
                    <mat-icon aria-label="Add">add</mat-icon>
                  </button>
                </mat-header-cell>
                <mat-cell *matCellDef="let row;">
                  <button mat-icon-button color="accent" (click)="openUpdateDialog({name:'dmTinh', body: row})"
                    *ngIf="permission.DM_Tinh_Huyen_Xa._update">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="openDeleteDialog({name:'dmTinh', body: row})"
                    *ngIf="permission.DM_Tinh_Huyen_Xa._delete">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                </mat-cell>
              </mat-cell>
              <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns1;" (click)="getHuyen(row)"
                [ngClass]="{ 'selected': row == selectedRow1 }">
              </mat-row>
            </mat-table>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="mat-elevation-z2">
            <div class="card-header">
              <strong translate>danhMuc.dmHuyen</strong>
            </div>
            <mat-table [dataSource]="dataSource2" matSort>
              <!-- Code Column -->
              <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef mat-sort-header translate>
                  <div translate>common.code</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header translate>
                  <div translate>common.name</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
              </ng-container>
              <!-- actions -->
              <mat-cell matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                  <button mat-icon-button color="primary"
                    *ngIf="rowTinh && permission.DM_Tinh_Huyen_Xa._insert"
                    (click)="openUpdateDialog({name:'dmHuyen', id: rowTinh.id})">
                  <label translate>common.add</label>
                  </button>
                </mat-header-cell>

                <mat-cell *matCellDef="let row;">
                  <button mat-icon-button color="accent" (click)="openUpdateDialog({name:'dmHuyen', body: row, id: rowTinh.id})"
                    *ngIf="permission.DM_Tinh_Huyen_Xa._update">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                  </button>

                  <button mat-icon-button color="warn" (click)="openDeleteDialog({name:'dmHuyen', body: row})"
                    *ngIf="permission.DM_Tinh_Huyen_Xa._delete">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                </mat-cell>
              </mat-cell>

              <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns2;" (click)="getXa(row)"
                [ngClass]="{ 'selected': row == selectedRow2 }">
              </mat-row>
            </mat-table>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="mat-elevation-z2">
            <div class="card-header">
              <strong translate>danhMuc.dmXa</strong>
            </div>
            <mat-table [dataSource]="dataSource3" matSort>
              <!-- Code Column -->
              <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef mat-sort-header translate>
                  <div translate>common.code</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header translate>
                  <div translate>common.name</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
              </ng-container>
              <!-- actions -->
              <mat-cell matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                  <button mat-icon-button color="primary" *ngIf="rowHuyen && permission.DM_Tinh_Huyen_Xa._insert"
                    (click)="openUpdateDialog({name:'dmXa', id: rowHuyen.id})">
                  <label translate>common.add</label>
                  </button>
                </mat-header-cell>

                <mat-cell *matCellDef="let row;">
                  <button mat-icon-button color="accent" (click)="openUpdateDialog({name:'dmXa', body: row, id: rowHuyen.id})"
                    *ngIf="permission.DM_Tinh_Huyen_Xa._update">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                  </button>

                  <button mat-icon-button color="warn" (click)="openDeleteDialog({name:'dmXa', body: row})"
                    *ngIf="permission.DM_Tinh_Huyen_Xa._delete">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                </mat-cell>
              </mat-cell>
              <mat-header-row *matHeaderRowDef="displayedColumns3"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns3;" (click)="getThon(row)"
              [ngClass]="{ 'selected': row == selectedRow3 }"
               >
              </mat-row>
            </mat-table>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="mat-elevation-z2">
            <div class="card-header">
              <strong translate>danhMuc.dmThon</strong>
            </div>
            <mat-table [dataSource]="dataSource4" matSort>
              <!-- Code Column -->
              <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef mat-sort-header translate>
                  <div translate>common.code</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header translate>
                  <div translate>common.name</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
              </ng-container>
              <!-- actions -->
              <mat-cell matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                  <button mat-icon-button color="primary"
                    *ngIf="rowXa && rowHuyen && permission.DM_Tinh_Huyen_Xa._insert"
                    (click)="openUpdateDialog({name:'dmThon', id: rowXa.id})">
                  <label translate>common.add</label>
                  </button>
                </mat-header-cell>

                <mat-cell *matCellDef="let row;">
                  <button mat-icon-button color="accent" (click)="openUpdateDialog({name:'dmThon', body: row, id: rowXa.id})"
                    *ngIf="permission.DM_Tinh_Huyen_Xa._update">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                  </button>

                  <button mat-icon-button color="warn" (click)="openDeleteDialog({name:'dmThon', body: row})"
                    *ngIf="permission.DM_Tinh_Huyen_Xa._delete">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                </mat-cell>
              </mat-cell>

              <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns4;" 
                [ngClass]="{ 'selected': row == selectedRow4 }"  (click)="onSelectedRow(row)">
              </mat-row>
            </mat-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>