<h2 mat-dialog-title translate>vb.update.title</h2>
<form [formGroup]="vbForm" novalidate>
  <div mat-dialog-content>
    <mat-tab-group>
      <mat-tab>
        <div>&nbsp; </div>
        <ng-template mat-tab-label>
          <label translate>common.noiDung</label>
        </ng-template>
        <div class="col-md-11">
          <div class="form-group field">
            <label translate>common.name</label><span style="color: red;">*</span>
            <div class="control">
              <input class="form-control input is-primary" formControlName="name"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
              <div *ngIf="submitted && f.name.errors" class="help is-danger">
                <div *ngIf="f.name.errors.required" translate>common.validate.name.required</div>
              </div>
            </div>
          </div>
          <div class="form-group field">
            <label translate>vb.noiDung</label><span style="color: red;">*</span>
            <div class="control">
              <input class="form-control input is-primary" formControlName="noiDung"
                [ngClass]="{ 'is-invalid': submitted && f.noiDung.errors }" />
            </div>
          </div>
          <div class="form-group field">
            <label translate>vb.ngayBanHanh</label><span style="color: red;">*</span>
            <div class="control">
              <input type="date" class="form-control input is-primary" formControlName="ngayBanHanh"
                [ngClass]="{ 'is-invalid': submitted && f.ngayBanHanh.errors }" />
            </div>
          </div>
          <div class="form-group field">
            <label translate>common.ghiChu</label>
            <div class="control">
              <input class="form-control input is-primary" formControlName="ghiChu"
                [ngClass]="{ 'is-invalid': submitted && f.ghiChu.errors }" />
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <div>&nbsp; </div>
        <ng-template mat-tab-label>
          <label translate>common.fileDinhKem</label>
        </ng-template>
        <div class="col-md-11">
          <button mat-button color="primary" (click)="onClick()">
            <mat-icon>file_upload</mat-icon>
            Choise File
          </button>
          <br />
          <ul>
            <li *ngFor="let file of files">
              <span id="file-label">
                {{file.name}}
                <a title="Cancel" (click)="cancelFile(file)">
                  <mat-icon>cancel</mat-icon>
                </a>
              </span>
            </li>
          </ul>
          <div *ngIf="submitted && validateFile=== false" class="help is-danger">
            <div translate>common.noFileUploaded</div>
          </div>
          <input type="file" id="fileUpload" name="fileUpload" multiple="multiple" style="display:none;" />
          <!-- <button mat-button class="border" (click)="onSubmit()" translate>Upload</button> -->
          <div class="row">
            <h4 translate>common.listFilesUpload</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="mat-elevation-z8">
                  <mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="index">
                      <mat-header-cell *matHeaderCellDef width="10%"> Index </mat-header-cell>
                      <mat-cell *matCellDef="let element; index as i">
                        {{paginator.pageSize * paginator.pageIndex + i + 1}}
                      </mat-cell>
                    </ng-container>
                    <!-- Code Column -->
                    <ng-container matColumnDef="filename" layout-align="center">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div translate>common.filename </div>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.filename}} </mat-cell>
                    </ng-container>
                    <mat-cell matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef layout-align="center">

                      </mat-header-cell>

                      <mat-cell class="mat-center" *matCellDef="let row;">
                        <button mat-icon-button color="lightGreen" (click)="downloadAttachFiles(row)">
                          <mat-icon aria-label="Download">get_app</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="clickMethodDelete(row)">
                          <mat-icon aria-label="Delete">delete</mat-icon>
                        </button>
                      </mat-cell>
                    </mat-cell>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                  </mat-table>
                  <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
  <div mat-dialog-actions>
    <button mat-button class="border btn btn-danger" type="button" (click)="onNoClick()"><span
        translate>common.cancel</span></button>
    <button mat-button class="border btn btn-success" type="submit" cdkFocusInitial><span
        translate>common.save</span></button>
  </div>
</form>