<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <strong translate>vb.vanBanQuyChe</strong>
    </div>
    <div class="card-body">
      <!-- <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
        <div class="row">
          <div class="form-group col-sm-6">
            <label translate>common.content</label>
            <div class="control">
              <input class="form-control input is-primary" formControlName="content" />
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label></label>
            <div class="control">
              <button type="submit" class="button is-primary"><i class="fa fa-search"></i> <span translate>common.search</span></button>
            </div>
          </div>
        </div>
      </form> -->
      <div class="row">
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="index">
              <th mat-header-cell class="index" *matHeaderCellDef> <label translate>Index </label> </th>
              <td mat-cell class="index" *matCellDef="let element; index as i"v style="text-align: center;">
                {{paginator.pageSize * paginator.pageIndex + i + 1}} </td>
            </ng-container>
            <ng-container matColumnDef="tieuDe">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>vb.tieuDe </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.TieuDe}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ngayHieuLuc">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>vb.ngayHieuLuc </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.NgayHieuLuc}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ngayHetHieuLuc">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>vb.ngayHetHieuLuc </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row">
                {{row.NgayHetHieuLuc}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="nguoiKyQD">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>vb.nguoiKyQD </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.NguoiKyQD}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="chucDanh">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>vb.chucDanh </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.ChucDanh}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="noiDung">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>vb.noiDung </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.NoiDung}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="trangThai">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>vb.trangThai </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.TrangThai}} </mat-cell>
            </ng-container>
            <mat-cell matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef fxFlex="10%">
                <button (click)="openUpdateDialog()" mat-icon-button color="primary"
                  *ngIf="permission.VB_VanBanQuyChe._update">
                <label translate>common.add</label>
                </button>
              </mat-header-cell>
              <mat-cell *matCellDef="let row;">
                <mat-select id="actions" placeholder="Tùy chọn">
                  <mat-option
                    (click)="openAttachFiles({tableName:'vb_vanBanQuyChe', id_data: row.id, permission: permissionAttachsFile})"
                    *ngIf="permission.VB_VanBanQuyChe._update">
                    <button mat-icon-button>
                      <i class="fa fa-download fa-lg"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <label translate>common.viewAttachFiles</label>
                    </button>
                  </mat-option>
                  <mat-option (click)="openUpdateDialog(row)" *ngIf="permission.VB_VanBanQuyChe._update">
                    <button mat-icon-button>
                      <mat-icon aria-label="Edit">edit</mat-icon>
                      <label translate>common.edit</label>
                    </button>
                  </mat-option>
                  <mat-option (click)="openDeleteDialog(row)" *ngIf="permission.VB_VanBanQuyChe._update">
                    <button mat-icon-button>
                      <mat-icon aria-label="Delete">delete</mat-icon>
                      <label translate>common.delete</label>
                    </button>
                  </mat-option>
                </mat-select>
              </mat-cell>
            </mat-cell>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
              (click)="onSelectedRow(row)">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[100, 250, 500, 1000]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>