<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <strong translate>cc.title</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
        <div class="row">
          <div class="form-group col-sm-4">
            <label translate>common.content</label>
            <div class="control">
              <input type="date" class="form-control input is-primary" formControlName="content" />
            </div>
          </div>
          <div class="form-group col-sm-4">
            <label translate>common.tuNgay</label>
            <div class="control">
              <!-- <mat-form-field class="form-control input is-primary custom-input-date" appearance="fill"> -->
              <input [readOnly]="'true'" [matDatepicker]="dp" class="form-control input is-primary" (click)="dp.open()"
                formControlName="tuNgay" placeholder="dd/mm/yyyy">
              <!-- <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle> -->
              <mat-datepicker #dp></mat-datepicker>
              <!-- </mat-form-field> -->

              <!-- <input class="form-control input is-primary" formControlName="content" /> -->
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label></label>
            <div class="control">
              <button type="submit" class="button is-primary"><i class="fa fa-search"></i> <span
                  translate>common.search</span></button>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="index">
              <th mat-header-cell class="index" *matHeaderCellDef> <label translate>Index </label> </th>
              <td mat-cell class="index" *matCellDef="let element; index as i" v style="text-align: center;">
                {{paginator.pageSize * paginator.pageIndex + i + 1}} </td>
            </ng-container>
            <ng-container matColumnDef="ngay">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>pdcc.ngay
                </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.Ngay}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="thu">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>pdcc.thu </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.Thu}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="gioVao1">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>pdcc.gioVao1 </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.GioVao1}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="gioRa1">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>pdcc.gioRa1 </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.GioRa1}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="gioVao2">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>pdcc.gioVao2 </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.GioVao2}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="gioRa2">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>pdcc.gioRa2 </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.GioRa2}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="kyHieu">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>pdcc.kyHieu </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.KyHieu}} </mat-cell>
            </ng-container>
            <mat-cell matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef fxFlex="10%">
                <button (click)="openUpdateDialog()" mat-icon-button color="primary"
                  *ngIf="permission.ChamCong._update">
                  <label translate>common.add</label>
                </button>
              </mat-header-cell>
              <mat-cell *matCellDef="let row;">
                <mat-select id="actions" placeholder="Tùy chọn">
                  <mat-option (click)="openDetailDialog(row)" *ngIf="permission.ChamCong._update">
                    <button mat-icon-button>
                      <label translate>common.detail</label>
                    </button>
                  </mat-option>
                  <mat-option (click)="openDeleteDialog(row)" *ngIf="permission.ChamCong._update">
                    <button mat-icon-button>
                      <mat-icon aria-label="Delete">delete</mat-icon>
                      <label translate>common.delete</label>
                    </button>
                  </mat-option>
                </mat-select>
              </mat-cell>
            </mat-cell>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
              (click)="onSelectedRow(row)">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[100, 250, 500, 1000]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>