<h2 mat-dialog-title translate>cc.chiTiet</h2>
<div mat-dialog-content>
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="index">
        <th mat-header-cell class="index" *matHeaderCellDef> <label translate>Index </label> </th>
        <td mat-cell class="index" *matCellDef="let element; index as i" v style="text-align: center;">
          {{paginator.pageSize * paginator.pageIndex + i + 1}} </td>
      </ng-container>
      <ng-container matColumnDef="gio">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>chamCong.gio </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Gio}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
        (click)="onSelectedRow(row)">
      </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 50, 100, 200]"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button class="border btn btn-success" type="button" (click)="onNoClick()"><span
      translate>common.ok</span></button>
</div>