<div mat-dialog-content>
  <h3 *ngIf="data.delete" translate>common.delete.comfirm</h3><h3>{{data.name}}</h3>
 </div>
 <div mat-dialog-actions>
   <button mat-button (click)="onNoClick()" class="border btn btn-danger"><span translate>common.no</span></button>
   <button mat-button [mat-dialog-close]="true" class="border btn btn-success"  cdkFocusInitial><span translate>common.yes</span></button>
 </div>