<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <strong translate>application</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
        <div class="row">
          <div class="form-group col-sm-3">
            <label translate>code</label>
            <div class="control">
              <input class="form-control input is-primary" formControlName="code" />
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label translate>name</label>
            <div class="control">
              <input class="form-control input is-primary" formControlName="name" />
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label translate>description</label>
            <div class="control">
              <input class="form-control input is-primary" formControlName="description" />
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label></label>
            <div class="control">
              <button type="submit" class="button is-primary"><i class="fa fa-search"></i> <span translate>common.search</span></button>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="index">
              <th mat-header-cell class="index" *matHeaderCellDef> <label translate>Index </label> </th>
              <td mat-cell class="index" *matCellDef="let element; index as i">
                {{paginator.pageSize * paginator.pageIndex + i + 1}} </td>
            </ng-container>
            <ng-container matColumnDef="pkg">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>pkg </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.pkg}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>name </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="phienBan">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>phienBan </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.phienBan}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="url">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>url </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.url}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="bieuTuong">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>bieuTuong </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.bieuTuong}} </mat-cell>
            </ng-container>
            <mat-cell matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef fxFlex="10%">
                <button (click)="openUpdateDialog()"mat-icon-button color="primary">
                  <!-- *ngIf="permission.Application._insert" -->
                <label translate>common.add</label>
                </button>
              </mat-header-cell>
              <mat-cell *matCellDef="let row;">
                <mat-select  id="actions" placeholder="Tùy chọn">
                  <mat-option (click)="openUpdateConfigDialog(row)" *ngIf="permission.Application._update">
                    <button mat-icon-button>
                      <mat-icon aria-label="Edit">edit</mat-icon>
                      <label translate>UpdateConfig</label>
                    </button>
                  </mat-option>
                  <mat-option (click)="openUpdateDialog(row)" *ngIf="permission.Application._update">
                    <button mat-icon-button>
                      <mat-icon aria-label="Edit">edit</mat-icon>
                      <label translate>Edit</label>
                    </button>
                  </mat-option>
                  <mat-option (click)="openDeleteDialog(row)" *ngIf="permission.Application._delete">
                    <button mat-icon-button>
                      <mat-icon aria-label="Delete">delete</mat-icon>
                      <label translate>Delete</label>
                    </button>
                  </mat-option>
                </mat-select>
              </mat-cell>
            </mat-cell>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
              (click)="onSelectedRow(row)">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[100, 250, 500, 1000]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>