<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <i class="fa fa-align-justify"></i><a [routerLink]="['/admin']" translate>Admin</a>&nbsp;/&nbsp;
      <strong translate>admin.role</strong>
    </div>
    <div class="dark-overlay" *ngIf="show"></div>
    <div class="card-body">
      <div class="spinner_container">
        <mat-spinner *ngIf="show"></mat-spinner>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="mat-elevation-z2">
            <div class="card-header">
              <strong translate>admin.role</strong>
            </div>
            <mat-table [dataSource]="dataSource1" matSort>
              <!-- Code Column -->
              <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef mat-sort-header translate>
                  <div translate>common.code</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  <div translate>common.name</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
              </ng-container>
              <!-- actions -->
              <mat-cell matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef layout-align="center">
                  <button mat-icon-button color="primary" (click)="openUpdateDialog(null)"
                    *ngIf="permission.HT_QuanLyNhomQuyen._insert">
                    <mat-icon aria-label="Add">add</mat-icon>
                  </button>
                </mat-header-cell>

                <mat-cell *matCellDef="let row;">
                  <button mat-icon-button color="accent" (click)="openUpdateDialog(row)"
                    *ngIf="permission.HT_QuanLyNhomQuyen._update">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                  </button>

                  <button mat-icon-button color="warn" (click)="openDeleteDialog(row)"
                    *ngIf="permission.HT_QuanLyNhomQuyen._delete">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                </mat-cell>
              </mat-cell>
              <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns1;" [ngClass]="{ 'selected': row == selectedRow1 }"
                (click)="onSelectedRow(row)">
              </mat-row>
            </mat-table>
            <div class="center" *ngIf="!loadTable1">
              <mat-progress-spinner value="10" diameter="40" mode="indeterminate"></mat-progress-spinner>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="mat-elevation-z2">
            <div class="card-header">
              <strong class="col-md-10" translate>admin.role.permission</strong>
              <button *ngIf="role_id && permission.HT_QuanLyNhomQuyen._insert" mat-button type="button"
                class="btn-success btn" (click)="onSubmit()"><span translate>common.save</span></button>
            </div>
            <p-treeTable [value]="rolePermissionTree" [columns]="cols">
              <ng-template pTemplate="header">
                <tr>
                  <th rowspan="2" colspan="5" translate>common.name</th>
                  <th colspan="5" translate>common.option</th>
                </tr>
                <tr>
                  <th translate>common.view</th>
                  <th translate>common.export</th>
                  <th translate>common.insert</th>
                  <th translate>common.update</th>
                  <th translate>common.delete</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                <tr [ttRow]="rowNode">
                  <td colspan="5">
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    {{rowData.name}}
                  </td>
                  <td *ngFor="let col of columns; let i = index" ttEditableColumn
                    [ngClass]="{'ui-toggler-column': i === 0}">
                    <input pInputText type="checkbox" [(ngModel)]="rowData[col.field]"
                      [ngStyle]="{'width': '90%'}">
                  </td>
                </tr>
              </ng-template>
            </p-treeTable>
            <div class="center" *ngIf="!loadTable2">
              <mat-progress-spinner value="10" diameter="40" mode="indeterminate"></mat-progress-spinner>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>