<div class="animated fadeIn">
  <!-- <div class="card card-default"> -->
  <div>
    <h1 translate>ttbh.bhxh.title</h1>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="form-group row">
        <label class="col-md-4" translate>ttbh.soSoBhxh</label>
        <div class="control col-md-8">
          <label class="form-control input is-primary" *ngIf="ttbh">{{ttbh.soSoBhxh}}</label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4" translate>ttbh.ngayCap</label>
        <div class="control col-md-8">
          <label class="form-control input is-primary" *ngIf="ttbh">{{ttbh.ngayCap}}</label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4" translate>ttbh.noiCap</label>
        <div class="control col-md-8">
          <label class="form-control input is-primary" *ngIf="ttbh">{{ttbh.noiCap}}</label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4" translate>ttbh.trangThaiSo</label>
        <div class="control col-md-8">
          <label class="form-control input is-primary" *ngIf="ttbh">{{ttbh.trangThaiSo}}</label>
        </div>
      </div>
      <br>
    </div>
    <br>
    <div class="card-header">
      <strong translate>ttbh.quaTrinhBhyt</strong>
    </div>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataBhyt" matSort>
        <ng-container matColumnDef="index">
          <th mat-header-cell class="index" *matHeaderCellDef> <label translate>Index </label> </th>
          <td mat-cell class="index" *matCellDef="let element; index as i" v style="text-align: center;">
            {{i + 1}} </td>
        </ng-container>
        <ng-container matColumnDef="soTheBhyt">
          <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ttbh.soTheBhyt </label>
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.soTheBhyt}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="tuNgay">
          <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>common.tuNgay </label>
          </mat-header-cell>
          <mat-cell class="mat-center" *matCellDef="let row">
            {{row.TuNgay}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="denNgay">
          <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>common.denNgay </label>
          </mat-header-cell>
          <mat-cell class="mat-center" *matCellDef="let row">
            {{row.TuNgay}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ngayCap">
          <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ttbh.ngayCap </label>
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.ngayCap}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="tenBenhVien">
          <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ttbh.tenBenhVien </label>
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.tenBenhVien}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedBhyts"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedBhyts;" [ngClass]="{ 'selected': row == selectedRow }"
          (click)="onSelectedRow(row)">
        </mat-row>
      </mat-table>
      <!-- <mat-paginator [pageSizeOptions]="[100, 250, 500, 1000]"></mat-paginator> -->
      <br>
    </div>
    <br>
    <br>
    <div class="card-header">
      <strong translate>ttbh.quaTrinhBhxh</strong>
    </div>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataBhxh" matSort>
        <ng-container matColumnDef="index">
          <th mat-header-cell class="index" *matHeaderCellDef> <label translate>Index </label> </th>
          <td mat-cell class="index" *matCellDef="let element; index as i" v style="text-align: center;">
            {{i + 1}} </td>
        </ng-container>
        <ng-container matColumnDef="loaiBienDong">
          <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ttbh.loaiBienDong </label>
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.loaiBienDong}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="tuThang">
          <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ttbh.tuThang </label>
          </mat-header-cell>
          <mat-cell class="mat-center" *matCellDef="let row">
            {{row.tuThang}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="denThang">
          <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ttbh.denThang </label>
          </mat-header-cell>
          <mat-cell class="mat-center" *matCellDef="let row">
            {{row.denThang}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="heSoLuong">
          <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ttbh.heSoLuong </label>
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.heSoLuong}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="mucLuong">
          <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ttbh.mucLuong </label>
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.mucLuong}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="bhxh">
          <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ttbh.bhxh </label>
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.bhxh}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="bhyt">
          <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ttbh.bhyt </label>
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.bhyt}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="bhtn">
          <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ttbh.bhtn </label>
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.bhtn}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="bhtnld">
          <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ttbh.bhtnld </label>
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.bhtnld}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="tuDong">
          <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ttbh.tuDong </label>
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.tuDong}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedBhxhs"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedBhxhs;" [ngClass]="{ 'selected': row == selectedRow }"
          (click)="onSelectedRow(row)">
        </mat-row>
      </mat-table>
      <!-- <mat-paginator [pageSizeOptions]="[100, 250, 500, 1000]"></mat-paginator> -->
      <br>
    </div>
  </div>
  <!-- </div> -->
</div>