<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <strong translate>dangKyNghi.title</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
        <div class="row">
          <div class="form-group col-sm-4">
            <label translate>common.content</label>
            <div class="control">
              <input type="date" class="form-control input is-primary" formControlName="content" />
            </div>
          </div>
          <div class="form-group col-sm-4">
            <label translate>common.tuNgay</label>
            <div class="control">
              <!-- <mat-form-field class="form-control input is-primary custom-input-date" appearance="fill"> -->
              <input [readOnly]="'true'" [matDatepicker]="dp" class="form-control input is-primary" (click)="dp.open()"
                formControlName="tuNgay" placeholder="dd/mm/yyyy">
              <!-- <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle> -->
              <mat-datepicker #dp></mat-datepicker>
              <!-- </mat-form-field> -->

              <!-- <input class="form-control input is-primary" formControlName="content" /> -->
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label></label>
            <div class="control">
              <button type="submit" class="button is-primary"><i class="fa fa-search"></i> <span
                  translate>common.search</span></button>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="mat-elevation-z8">
          <mat-tab-group>
            <mat-tab>
              <div>&nbsp; </div>
              <ng-template mat-tab-label>
                <label translate>dangKyNghi.dangKy</label>
              </ng-template>
              <div class="mat-elevation-z8">
                <mat-table [dataSource]="dataSource" matSort>
                  <ng-container matColumnDef="index">
                    <th mat-header-cell class="index" *matHeaderCellDef> <label translate>Index </label> </th>
                    <td mat-cell class="index" *matCellDef="let element; index as i" v style="text-align: center;">
                      {{paginator.pageSize * paginator.pageIndex + i + 1}} </td>
                  </ng-container>
                  <ng-container matColumnDef="loai">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>dangKyNghi.loai </label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.Loai}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="lyDo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>dangKyNghi.lyDo </label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.LyDo}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="tuNgayDenNgay">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>dangKyNghi.tuNgayDenNgay
                      </label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.TuNgayDenNgay}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="thoiGian">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>dangKyNghi.thoiGian </label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.ThoiGian}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="trangThai">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>dangKyNghi.trangThai </label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.TrangThai}} </mat-cell>
                  </ng-container>
                  <mat-cell matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef fxFlex="10%">
                      <button (click)="openUpdateDialog()" mat-icon-button color="primary"
                        *ngIf="permission.DangKyNghi._update">
                        <label translate>common.add</label>
                      </button>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row;">
                      <mat-select id="actions" placeholder="Tùy chọn">
                        <mat-option
                          (click)="openAttachFiles({tableName:'vb_vanBanQuyChe', id_data: row.id, permission: permissionAttachsFile})"
                          *ngIf="permission.DangKyNghi._update">
                          <button mat-icon-button>
                            <i class="fa fa-download fa-lg"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label translate>common.viewAttachFiles</label>
                          </button>
                        </mat-option>
                        <mat-option (click)="openUpdateDialog(row)" *ngIf="permission.DangKyNghi._update">
                          <button mat-icon-button>
                            <mat-icon aria-label="Edit">edit</mat-icon>
                            <label translate>common.edit</label>
                          </button>
                        </mat-option>
                        <mat-option (click)="openDeleteDialog(row)" *ngIf="permission.DangKyNghi._update">
                          <button mat-icon-button>
                            <mat-icon aria-label="Delete">delete</mat-icon>
                            <label translate>common.delete</label>
                          </button>
                        </mat-option>
                      </mat-select>
                    </mat-cell>
                  </mat-cell>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"
                    [ngClass]="{ 'selected': row == selectedRow }" (click)="onSelectedRow(row)">
                  </mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[100, 250, 500, 1000]"></mat-paginator>
              </div>
            </mat-tab>
            <mat-tab>
              <div>&nbsp; </div>
              <ng-template mat-tab-label>
                <label translate>dangKyNghi.choDuyet</label>
              </ng-template>
              <div class="mat-elevation-z8">
                <mat-table [dataSource]="dataSourceChoDuyet" matSort>
                  <ng-container matColumnDef="index">
                    <th mat-header-cell class="index" *matHeaderCellDef> <label translate>Index </label> </th>
                    <td mat-cell class="index" *matCellDef="let element; index as i" v style="text-align: center;">
                      {{paginator.pageSize * paginator.pageIndex + i + 1}} </td>
                  </ng-container>
                  <ng-container matColumnDef="loai">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>dangKyNghi.loai </label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.Loai}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="lyDo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>dangKyNghi.lyDo </label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.LyDo}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="tuNgayDenNgay">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>dangKyNghi.tuNgayDenNgay
                      </label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.TuNgayDenNgay}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="thoiGian">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>dangKyNghi.thoiGian </label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.ThoiGian}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="trangThai">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>dangKyNghi.trangThai </label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.TrangThai}} </mat-cell>
                  </ng-container>
                  <mat-cell matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef fxFlex="10%">
                      <button (click)="openUpdateDialog()" mat-icon-button color="primary"
                        *ngIf="permission.DangKyNghi._update">
                        <label translate>common.add</label>
                      </button>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row;">
                      <mat-select id="actions" placeholder="Tùy chọn">
                        <mat-option
                          (click)="openAttachFiles({tableName:'vb_vanBanQuyChe', id_data: row.id, permission: permissionAttachsFile})"
                          *ngIf="permission.DangKyNghi._update">
                          <button mat-icon-button>
                            <i class="fa fa-download fa-lg"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label translate>common.viewAttachFiles</label>
                          </button>
                        </mat-option>
                        <mat-option (click)="openUpdateDialog(row)" *ngIf="permission.DangKyNghi._update">
                          <button mat-icon-button>
                            <mat-icon aria-label="Edit">edit</mat-icon>
                            <label translate>common.edit</label>
                          </button>
                        </mat-option>
                        <mat-option (click)="openDeleteDialog(row)" *ngIf="permission.DangKyNghi._update">
                          <button mat-icon-button>
                            <mat-icon aria-label="Delete">delete</mat-icon>
                            <label translate>common.delete</label>
                          </button>
                        </mat-option>
                      </mat-select>
                    </mat-cell>
                  </mat-cell>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"
                    [ngClass]="{ 'selected': row == selectedRow }" (click)="onSelectedRow(row)">
                  </mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[100, 250, 500, 1000]"></mat-paginator>
              </div>
            </mat-tab>
            <mat-tab>
              <div>&nbsp; </div>
              <ng-template mat-tab-label>
                <label translate>dangKyNghi.daDuyet</label>
              </ng-template>
              <div class="mat-elevation-z8">
                <mat-table [dataSource]="dataSourceDaDuyet" matSort>
                  <ng-container matColumnDef="index">
                    <th mat-header-cell class="index" *matHeaderCellDef> <label translate>Index </label> </th>
                    <td mat-cell class="index" *matCellDef="let element; index as i" v style="text-align: center;">
                      {{paginator.pageSize * paginator.pageIndex + i + 1}} </td>
                  </ng-container>
                  <ng-container matColumnDef="loai">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>dangKyNghi.loai </label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.Loai}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="lyDo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>dangKyNghi.lyDo </label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.LyDo}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="nguoiDangKy">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>dangKyNghi.nguoiDangKy </label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.NguoiDangKy}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="tuNgayDenNgay">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>dangKyNghi.tuNgayDenNgay
                      </label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.TuNgayDenNgay}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="thoiGian">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>dangKyNghi.thoiGian </label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.ThoiGian}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="trangThai">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>dangKyNghi.trangThai </label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.TrangThai}} </mat-cell>
                  </ng-container>
                  <mat-cell matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef fxFlex="10%">
                      <button (click)="openUpdateDialog()" mat-icon-button color="primary"
                        *ngIf="permission.DangKyNghi._update">
                        <label translate>common.add</label>
                      </button>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row;">
                      <mat-select id="actions" placeholder="Tùy chọn">
                        <mat-option (click)="openDetailDialog(row)" *ngIf="permission.DangKyNghi._update">
                          <button mat-icon-button>
                            <label translate>common.detail</label>
                          </button>
                        </mat-option>
                        <mat-option (click)="openDeleteDialog(row)" *ngIf="permission.DangKyNghi._update">
                          <button mat-icon-button>
                            <mat-icon aria-label="Delete">delete</mat-icon>
                            <label translate>common.delete</label>
                          </button>
                        </mat-option>
                      </mat-select>
                    </mat-cell>
                  </mat-cell>
                  <mat-header-row *matHeaderRowDef="displayedDaDuyets"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedDaDuyets;"
                    [ngClass]="{ 'selected': row == selectedRow }" (click)="onSelectedRow(row)">
                  </mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[100, 250, 500, 1000]"></mat-paginator>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>