<form [formGroup]="tqForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title><span translate>kt.dotKhenThuong.update.title</span></h2>
    <div class="form-group field">
      <label translate>common.name</label><span style="color: red;">*</span>
      <div class="control">
        <input class="form-control input is-primary" formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="help is-danger">
          <div *ngIf="f.name.errors.required" translate>common.validate.name.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>tq.theoDoiHuanLuyen.nam</label><span style="color: red;">*</span>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="nam"
          [ngClass]="{ 'is-invalid': submitted && f.nam.errors }">
          <mat-option *ngFor="let number of numbers" [value]="number">
            {{number}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.nam.errors" class="help is-danger">
          <div *ngIf="f.nam.errors.required" translate>tq.theoDoiHuanLuyen.validate.nam.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>kt.id_phanLoai</label><span style="color: red;">*</span>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_phanLoai"
          [ngClass]="{ 'is-invalid': submitted && f.id_phanLoai.errors }"
          (selectionChange)="onChangeHinhThuc()">
          <mat-option *ngFor="let phanLoai of phanLoais" [value]="phanLoai.id">
            {{phanLoai.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_phanLoai.errors" class="help is-danger">
          <div *ngIf="f.id_phanLoai.errors.required" translate>kt.validate.id_phanLoai.required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>kt.typeKhenThuong</label><span style="color: red;">*</span>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="typeKhenThuong"
          [ngClass]="{ 'is-invalid': submitted && f.typeKhenThuong.errors }"
          (selectionChange)="onChangeHinhThuc()">
          <mat-option value="1">
            <span translate>kt.caNhan</span>
          </mat-option>
          <mat-option value="2">
            <span translate>kt.tapThe</span>
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.typeKhenThuong.errors" class="help is-danger">
          <div *ngIf="f.typeKhenThuong.errors.required" translate>kt.validate.typeKhenThuong.required
          </div>
        </div>
      </div>
    </div>

    <div class="form-group field" *ngIf="f.id_phanLoai.value == '2'">
      <label translate>kt.id_capQuyetDinh</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_capQuyetDinh"
          [ngClass]="{ 'is-invalid': submitted && f.id_capQuyetDinh.errors }"
          (selectionChange)="onChangeHinhThuc()">
          <mat-option *ngFor="let capQuyetDinh of capQuyetDinhs" [value]="capQuyetDinh.id">
            {{capQuyetDinh.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_capQuyetDinh.errors" class="help is-danger">
          <div *ngIf="f.id_capQuyetDinh.errors.required" translate>kt.validate.id_capQuyetDinh.required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>kt.id_danhHieuHinhThuc</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_danhHieuHinhThuc"
          [ngClass]="{ 'is-invalid': submitted && f.id_danhHieuHinhThuc.errors }">
          <mat-option *ngFor="let danhHieuHinhThuc of danhHieuHinhThucs" [value]="danhHieuHinhThuc.id">
            {{danhHieuHinhThuc.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_danhHieuHinhThuc.errors" class="help is-danger">
          <div *ngIf="f.id_danhHieuHinhThuc.errors.required" translate>kt.validate.id_danhHieuHinhThuc.required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>kt.ngayLapDs</label>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="ngayLapDs"
          [ngClass]="{ 'is-invalid': submitted && f.ngayLapDs.errors }" />
        <div *ngIf="submitted && f.ngayLapDs.errors" class="help is-danger">
          <div *ngIf="f.ngayLapDs.errors.required" translate>kt.validate.ngayLapDs.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>kt.soQd</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="soQd"
          [ngClass]="{ 'is-invalid': submitted && f.soQd.errors }" />
      </div>
    </div>
    <div class="form-group field">
      <label translate>kt.ngayQd</label>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="ngayQd"
          [ngClass]="{ 'is-invalid': submitted && f.ngayQd.errors }" />
        <div *ngIf="submitted && f.ngayQd.errors" class="help is-danger">
          <div *ngIf="f.ngayQd.errors.required" translate>kt.validate.ngayQd.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>common.ghiChu</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="ghiChu"
          [ngClass]="{ 'is-invalid': submitted && f.ghiChu.errors }" />
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button class="border btn btn-danger" type="button" (click)="onNoClick()"><span
        translate>common.cancel</span></button>
    <button mat-button class="border btn btn-success" type="submit" cdkFocusInitial><span
        translate>common.save</span></button>
  </div>
</form>