<h2 mat-dialog-title translate>dangKyNghi.chiTiet</h2>
<div mat-dialog-content>
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="index">
        <th mat-header-cell class="index" *matHeaderCellDef> <label translate>Index </label> </th>
        <td mat-cell class="index" *matCellDef="let element; index as i" v style="text-align: center;">
          {{paginator.pageSize * paginator.pageIndex + i + 1}} </td>
      </ng-container>
      <ng-container matColumnDef="loaiDangKy">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>dangKyNghi.loaiDangKy </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.LoaiDangKy}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="trangThai">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>dangKyNghi.trangThai </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.TrangThai}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="hoTen">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>dangKyNghi.hoTen </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.HoTen}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="ngay">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>dangKyNghi.ngay </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Ngay}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="thoiGian">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>dangKyNghi.thoiGian </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.ThoiGian}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lyDo">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>dangKyNghi.lyDo </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.LyDo}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
        (click)="onSelectedRow(row)">
      </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 50, 100, 200]"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button class="border btn btn-success" type="button" (click)="onNoClick()"><span
      translate>common.ok</span></button>
</div>