<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <strong translate>ttbh.bhhc.title</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="index">
              <th mat-header-cell class="index" *matHeaderCellDef> <label translate>Index </label> </th>
              <td mat-cell class="index" *matCellDef="let element; index as i" v style="text-align: center;">
                {{paginator.pageSize * paginator.pageIndex + i + 1}} </td>
            </ng-container>
            <ng-container matColumnDef="soHopDong">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ttbh.soHopDong </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.SoHopDong}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ngayThamGia">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ttbh.ngayThamGia </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.TuNgay}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="mucThamGia">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ttbh.mucThamGia </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.MucDong}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="mucHienTai">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ttbh.mucHienTai </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.MucDongQT}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="soThangThamGia">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ttbh.soThangThamGia </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.SoThang}} </mat-cell>
            </ng-container>

            <mat-cell matColumnDef="quaTrinhHopDong">
              <mat-header-cell *matHeaderCellDef><label translate>ttbh.quaTrinhHopDong </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row;">
                <button class="btn btn-outline-success" (click)="openDetailDialog(row)" *ngIf="permission.TTBH_HealthCare._update">
                  <mat-icon aria-label="Edit">edit</mat-icon>
                  <label translate>common.detail</label>
                </button>
              </mat-cell>
            </mat-cell>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
              (click)="onSelectedRow(row)">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[100, 250, 500, 1000]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>