<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong translate>password.title</strong>
        </div>
        <div class="card-body" style="z-index: 0 !important;">
          <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group field">
              <label translate>password.currentPassword</label>
              <div class="control">
                <input class="form-control input is-primary" type="password" formControlName="password"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="help is-danger">
                  <div *ngIf="f.password.errors.required" translate>password.validate.currentPassword.required</div>
                </div>
              </div>
            </div>
            <div class="form-group field">
              <label translate>password.newPassword</label>
              <input class="form-control input is-primary" type="password" formControlName="newPassword"
                [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
              <div *ngIf="submitted && f.newPassword.errors" class="help is-danger">
                <div *ngIf="f.newPassword.errors.required" translate>password.validate.newPassword.required</div>
                <div *ngIf="f.newPassword.errors.minlength" translate>password.validate.newPassword.min</div>
              </div>
            </div>
            <div class="form-group field">
              <label translate>password.confirmNewPassword</label>
              <input class="form-control input is-primary" type="password" formControlName="confirmNewPassword"
                [ngClass]="{ 'is-invalid': submitted && f.confirmNewPassword.errors }" />
              <div *ngIf="submitted && f.confirmNewPassword.errors" class="help is-danger">
                <div *ngIf="f.confirmNewPassword.errors.required" translate>
                  password.validate.confirmNewPassword.required</div>
                <div *ngIf="f.confirmNewPassword.errors.mustMatch" translate>password.validate.newPassword.mustMatch
                </div>
              </div>
            </div>
            <div >
              <button type="submit" class="button is-primary"><i class="fa fa-dot-circle-o"></i><span
                  translate>common.save</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>