<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <strong translate>bonhiem.danhSachTDVDeXuatBoNhiem.title</strong>
    </div>
    <div class="card-body">
      <!--thêm vào form-->
      <form [formGroup]="searchForm" novalidate>
        <div class="row">
          <div class="form-group col-sm-3">
            <label translate><span translate>&nbsp;</span></label>
            <div class="control">
              <div class="input-group-prepend" dropdown>
                <button type="button" class="btn btn-block input is-primary input" dropdownToggle translate>
                  <label translate>common.id_donVi </label>
                  <label class="dropdown-toggle dropdown-toggle-right"></label>
                </button>
                <div class="dropdown-menu" *dropdownMenu (click)="$event.stopPropagation()">
                  <kendo-treeview class="treeview" [nodes]="donVis" [children]="children" [hasChildren]="hasChildren"
                    textField="label" kendoTreeViewExpandable [kendoTreeViewCheckable]="checkableSettings"
                    [(checkedKeys)]="id_donVis" [checkBy]="'data'">
                  </kendo-treeview>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label translate>boNhiem.tuNgay</label>
            <div class="control">
              <input type="date" class="form-control input is-primary" formControlName="TuNgay"
                style="text-align: center;" />
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label translate>boNhiem.denNgay</label>
            <div class="control">
              <input type="date" class="form-control input is-primary" formControlName="DenNgay"
                style="text-align: center;" />
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label translate>common.content</label>
            <div class="control">
              <input class="form-control input is-primary" formControlName="content" />
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label>&nbsp;</label>
            <div class="control">
              <button type="submit" mat-button class="button is-primary" (click)="onSearch()"><i
                  class="fa fa-search"></i>&nbsp;<span translate>common.search</span></button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="mat-elevation-z8">
            <mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="index">
                <mat-header-cell *matHeaderCellDef fxFlex="10%" mat-sort-header><label translate>Index </label>
                </mat-header-cell>
                <mat-cell class="mat-center" fxFlex="10%" *matCellDef="let element; index as i">
                  {{paginator.pageSize * paginator.pageIndex + i + 1}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="luuNhap">
                <mat-header-cell *matHeaderCellDef fxFlex="15%" mat-sort-header><label translate>boNhiem.luuNhap</label>
                </mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="15%"> {{row.luuNhap}} </mat-cell>
              </ng-container>
              <!--ngaySinh-->
              <ng-container matColumnDef="ngayHieuLuc">
                <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>boNhiem.ngayHieuLuc</label>
                </mat-header-cell>
                <mat-cell class="mat-center" *matCellDef="let row">
                  {{row.ngayHieuLucDeXuat | amFromUtc | amDateFormat: 'DD/MM/YYYY'}}
                </mat-cell>
              </ng-container>
              <!--id_donViQuanLy-->
              <ng-container matColumnDef="maHoTenNhanVien">
                <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>boNhiem.maHoTenNhanVien</label>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.maHoTenNhanVien}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="donVi">
                <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>boNhiem.donVi</label>
                </mat-header-cell>
                <mat-cell class="mat-center" *matCellDef="let row"> {{row.tenDonViDeXuat}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="viTriHienTai">
                <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>boNhiem.viTriHienTai</label>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.viTriHienTai}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="viTriDeXuat">
                <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>boNhiem.viTriDeXuat</label>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.tenViTriDeXuat}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="trangThaiDeXuat">
                <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>boNhiem.trangThaiDeXuat</label>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.TrangThaiHienTai}} </mat-cell>
              </ng-container>
              <mat-cell matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                  <button *ngIf="code_Portal_QuyTrinh =='bonhiem_tdv'" mat-button [routerLink]="['/quytrinh/qt/'+code_Portal_QuyTrinh+'/dexuat/insert']" color="primary">
                    <mat-icon>add</mat-icon>
                    <label translate>common.add</label>
                  </button>
                  <button  *ngIf="code_Portal_QuyTrinh =='bonhiem_qlns'" mat-button [routerLink]="['/quytrinh/qt/'+code_Portal_QuyTrinh+'/qlns_dexuat/insert']" color="primary">
                    <mat-icon>add</mat-icon>
                    <label translate>common.add</label>
                  </button>
                </mat-header-cell>
                <mat-cell *matCellDef="let row;">
                  <mat-select id="actions" placeholder="Tùy chọn">
                    <mat-option>
                      <button mat-icon-button (click)="openDetailDialog(row)">
                        <mat-icon aria-label="Search" color="accent">search</mat-icon>
                        <label translate>common.detail</label>
                      </button>
                    </mat-option>
                    <mat-option>
                      <button mat-icon-button  [routerLink]="['/quytrinh/qt/'+code_Portal_QuyTrinh+'/'+code+'/view/'+row.Portal_QuyTrinh_DeXuat_ID]">
                        <mat-icon aria-label="Search" color="accent">search</mat-icon>
                        <label translate>common.xem</label>
                      </button>
                    </mat-option>
                    <mat-option *ngIf="row.CodeState == code">
                      <button mat-icon-button [routerLink]="['/quytrinh/qt/'+code_Portal_QuyTrinh+'/'+code+'/update/'+row.Portal_QuyTrinh_DeXuat_ID]">
                        <mat-icon aria-label="Update" color="accent">edit</mat-icon>
                        <label translate>common.update</label>
                      </button>
                    </mat-option>
                    <mat-option *ngIf="row.CodeStateBefore == code">
                      <button  mat-icon-button [routerLink]="['/quytrinh/qt/'+code_Portal_QuyTrinh+'/'+code+'/edit/'+row.Portal_QuyTrinh_DeXuat_ID]">
                        <mat-icon aria-label="Edit" color="accent">edit</mat-icon>
                        <label translate>common.edit</label>
                      </button>
                    </mat-option>
                    <mat-option>
                      <button mat-icon-button>
                        <mat-icon aria-label="Delete" color="warn">delete</mat-icon>
                        <label translate>common.delete</label>
                      </button>
                    </mat-option>
                  </mat-select>
                </mat-cell>
              </mat-cell>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
                (click)="onSelectedRow(row)">
              </mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[100, 250, 500, 1000]"></mat-paginator>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>