<h2 mat-dialog-title translate>boNhiem.chiTiet</h2>
<div mat-dialog-content>
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="index">
        <th mat-header-cell class="index" *matHeaderCellDef> <label translate>Index </label> </th>
        <td mat-cell class="index" *matCellDef="let element; index as i" v style="text-align: center;">
          {{paginator.pageSize * paginator.pageIndex + i + 1}} </td>
      </ng-container>
      <ng-container matColumnDef="nguoiThucHien">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>boNhiem.nguoiThucHien </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.NguoiTao}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="ngayThucHien">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>boNhiem.ngayThucHien </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="mat-center"> {{row.CreateDate| amFromUtc | amDateFormat: 'DD/MM/YYYY'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="quyTrinh">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>boNhiem.quyTrinh </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.NoiDung}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="noiDung">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>boNhiem.noiDung </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Comment}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="trangThai">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>boNhiem.trangThai </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="mat-center"> {{row.TrangThai}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
        (click)="onSelectedRow(row)">
      </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 50, 100, 200]"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button class="border btn btn-success" type="button" (click)="onNoClick()"><span
      translate>common.ok</span></button>
</div>