<h2 mat-dialog-title translate>boNhiem.danhSachTDVDeXuatBoNhiem.update.title</h2>
<br>
<form [formGroup]="tdvdxBoNhiemForm" novalidate>
  <div class="form-group row">
    <div class="col-md-6 row">
      <label class="col-md-4" translate><span translate>boNhiem.maHoTenNhanVien</span></label>
      <div class="control col-md-8">
        <input class="form-control input is-primary" formControlName="maHoTenNhanVien" [readOnly]="'true'" />
      </div>
    </div>
    <div class="col-md-6 row" *ngIf="!code || code == 'dexuat' || code == 'qlns_dexuat'">
      <button mat-button class="border btn btn-primary" type="button" (click)="openDialogSearchCanBo()"><span
          translate>boNhiem.chonNhanVien</span></button>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6 row">
      <label class="col-md-4" translate><span translate>boNhiem.loaiDeXuat</span></label>
      <div class="control col-md-8">
        <mat-select class="form-control input is-primary" formControlName="loaiDeXuat">
          <mat-option *ngFor="let loaiDeXuat of loaiDeXuats" [value]="loaiDeXuat.DM_LoaiDeXuat_ID">
            {{loaiDeXuat.Name}}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6 row">
      <label class="col-md-4" translate><span translate>boNhiem.viTriHienTai</span></label>
      <div class="control col-md-8">
        <input class="form-control input is-primary" formControlName="viTriHienTai" [readOnly]="'true'" />
      </div>
    </div>
    <div class="col-md-6 row">
      <label class="col-md-4" translate><span translate>boNhiem.viTriDeXuat</span></label>
      <div class="control col-md-8">
        <mat-select class="form-control input is-primary" formControlName="viTriDeXuat">
          <mat-option *ngFor="let viTriDeXuat of chucDanhs" [value]="viTriDeXuat.ChucDanh_ID">
            {{viTriDeXuat.TenChucDanh}}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6 row">
      <label class="col-md-4" translate><span translate>boNhiem.donViHienTai</span></label>
      <div class="control col-md-8">
        <input class="form-control input is-primary" formControlName="donViHienTai" [readOnly]="'true'" />
      </div>
    </div>
    <div class="col-md-6 row">
      <label class="col-md-4" translate><span translate>boNhiem.donViDeXuat</span></label>
      <div class="control col-md-8">
        <div class="input-group-prepend" dropdown>
          <button type="button" class="btn btn-block input is-primary input" dropdownToggle translate>
            <label translate>common.id_donVi </label>
            <label class="dropdown-toggle dropdown-toggle-right"></label>
          </button>
          <div class="dropdown-menu" *dropdownMenu (click)="$event.stopPropagation()">
            <kendo-treeview class="treeview" [nodes]="donVis" [children]="children" [hasChildren]="hasChildren"
              textField="label" kendoTreeViewExpandable [kendoTreeViewCheckable]="checkableSettings"
              [(checkedKeys)]="id_donVis" [checkBy]="'data'">
            </kendo-treeview>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-12 row">
      <label class="col-md-2" translate><span translate>boNhiem.chiTieuHienTai</span></label>
      <div class="control col-md-10">
        <textarea class="form-control input is-primary" formControlName="chiTieuHienTai"></textarea>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-12 row">
      <label class="col-md-2" translate><span translate>boNhiem.chiTieuCongViecDatDuoc</span></label>
      <div class="control col-md-10">
        <textarea class="form-control input is-primary" formControlName="chiTieuCongViecDatDuoc"></textarea>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-12 row">
      <label class="col-md-2" translate><span translate>boNhiem.chiTieuCongViecMoi</span></label>
      <div class="control col-md-10">
        <textarea class="form-control input is-primary" formControlName="chiTieuCongViecMoi"></textarea>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-12 row">
      <label class="col-md-2" translate><span translate>boNhiem.chiTieuMoi</span></label>
      <div class="control col-md-10">
        <textarea class="form-control input is-primary" formControlName="chiTieuMoi"></textarea>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6 row">
      <label class="col-md-4" translate><span translate>boNhiem.luongBHXH</span></label>
      <div class="control col-md-8">
        <input  type="text" usd-only class="form-control input is-primary" formControlName="luongBHXH" />
      </div>
    </div>
    <div class="col-md-6 row">
      <label class="col-md-4" translate><span translate>boNhiem.thuongHQVL</span></label>
      <div class="control col-md-8">
        <input  type="text" usd-only class="form-control input is-primary" formControlName="thuongHQVL" />
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6 row">
      <label class="col-md-4" translate><span translate>boNhiem.phuCapViTri</span></label>
      <div class="control col-md-8">
        <input  type="text" usd-only class="form-control input is-primary" formControlName="phuCapViTri" />
      </div>
    </div>
    <div class="col-md-6 row">
      <label class="col-md-4" translate><span translate>boNhiem.pcDienThoai</span></label>
      <div class="control col-md-8">
        <input  type="text" usd-only class="form-control input is-primary" formControlName="pcDienThoai" />
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6 row">
      <label class="col-md-4" translate><span translate>boNhiem.phuCapXangXe</span></label>
      <div class="control col-md-8">
        <input type="text" usd-only class="form-control input is-primary" formControlName="phuCapXangXe" />
      </div>
    </div>
    <div class="col-md-6 row">
      <label class="col-md-4" translate><span translate>boNhiem.pcKhac</span></label>
      <div class="control col-md-8">
        <input  type="text" usd-only class="form-control input is-primary" formControlName="pcKhac" />
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6 row">
      <label class="col-md-4" translate><span translate>boNhiem.soLuongNhanVienQuanLy</span></label>
      <div class="control col-md-8">
        <input type="number" class="form-control input is-primary" formControlName="soLuongNhanVienQuanLy" />
      </div>
    </div>
    <div class="col-md-6 row">
      <label class="col-md-4" translate><span translate>boNhiem.ngayHieuLucDeXuat</span></label>
      <div class="control col-md-8">
        <input type="date" class="form-control input is-primary" formControlName="ngayHieuLucDeXuat" />
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-12 row">
      <label class="col-md-2" translate><span translate>boNhiem.lyDo</span></label>
      <div class="control col-md-10">
        <textarea class="form-control input is-primary" formControlName="lyDo"></textarea>
      </div>
    </div>
  </div>
  <!-- load data o day. truyen vao id_workFlow_state  -->
  <div *ngIf="isLoadStateAction">
    <app-state-action [id_workFlow_state]="id_sys_workFlow_state" [id_workFlow_state_action]="id_workFlow_state_action"
      [noiDung]="noiDung" (newItemEvent)="loadStateAction($event)">
    </app-state-action>
  </div>
  <div *ngIf="type !== 'view'">
    <button mat-button class="border btn btn-info" type="button" cdkFocusInitial (click)="onSubmit(1)"><span
        translate>common.save</span></button>
    <button mat-button class="border btn btn-success" type="button" (click)="onSubmit(0)"> <span
        translate>common.hoanThanh</span></button>
  </div>
  <br>
  <br>
</form>