<form [formGroup]="accountForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h1 mat-dialog-title translate>admin.edit.title</h1>
    <div style="height: 75vh;">
      <div class="form-group field">
        <label translate>admin.username</label><span style="color: red;">*</span>
        <div class="control">
          <input class="form-control input is-primary" formControlName="username"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="help is-danger">
            <div *ngIf="f.username.errors.required" translate>admin.validate.username.required</div>
          </div>
        </div>
      </div>
      <div class="form-group field">
        <label translate>admin.fullname</label><span style="color: red;">*</span>
        <div class="control">
          <input class="form-control input is-primary" formControlName="fullname"
            [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }" />
          <div *ngIf="submitted && f.fullname.errors" class="help is-danger">
            <div *ngIf="f.fullname.errors.required" translate>admin.validate.fullname.required</div>
          </div>
        </div>
      </div>
      <div class="form-group field">
        <label translate>admin.password</label>
        <div class="control">
          <input class="form-control input is-primary" type="password" formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="help is-danger">
            <div *ngIf="f.password.errors.required" translate>admin.validate.password.required</div>
            <div *ngIf="f.password.errors.minlength" translate>admin.validate.password.minlength</div>
          </div>
        </div>
      </div>
      <div class="form-group field">
        <div class="row">
          <div class="col-md-6">
            <div class="control">
              <div class="input-group-prepend" dropdown>
                <button type="button" class="btn btn-block input is-primary input" dropdownToggle translate>
                  <label translate>admin.donVi </label>
                  <label class="dropdown-toggle dropdown-toggle-right"></label>
                </button>
                <div class="dropdown-menu" *dropdownMenu (click)="$event.stopPropagation()">
                  <!-- <p-tree [value]="donVis" selectionMode="checkbox" [(selection)]="selectedBaoCaos"></p-tree> -->
                  <kendo-treeview class="treeview" [nodes]="donViTree" [children]="children" [hasChildren]="hasChildren"
                    textField="label" kendoTreeViewExpandable [kendoTreeViewCheckable]="checkableSettings"
                    [(checkedKeys)]="id_donVis" [checkBy]="'data'" [expandBy]="'data'" [(expandedKeys)]="expandedKeys"
                    [kendoTreeViewDisable]="'data'" [(disabledKeys)]="disabledKeys">
                  </kendo-treeview>
                  <div class="center" *ngIf="!loadTree1">
                    <mat-progress-spinner value="10" diameter="40" mode="indeterminate"></mat-progress-spinner>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="control">
              <div class="input-group-prepend" dropdown>
                <button type="button" class="btn btn-block input is-primary input" dropdownToggle translate>
                  <label translate>tq.congDan.id_donViTv </label>
                  <label class="dropdown-toggle dropdown-toggle-right"></label>
                </button>
                <div class="dropdown-menu custom-dropdown-row" *dropdownMenu (click)="$event.stopPropagation()">
                  <kendo-treeview class="treeview" [nodes]="donViTvs" [children]="children" [hasChildren]="hasChildren"
                    textField="name" kendoTreeViewExpandable [kendoTreeViewCheckable]="checkableSettings"
                    [(checkedKeys)]="id_donViTvs" [checkBy]="'id'">
                  </kendo-treeview>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>&nbsp;</div>
        <div class="form-group row">
          <div class="col-md-6">
            <div class="control">
              <div class="input-group-prepend is-primary" dropdown>
                <button type="button" class="btn btn-block input is-primary input" dropdownToggle translate>
                  <label translate>admin.role </label>
                  <label class="dropdown-toggle dropdown-toggle-right"></label>
                </button>
                <div class="dropdown-menu col-md-12" *dropdownMenu (click)="$event.stopPropagation()">
                  <!-- <p-tree [value]="donVis" selectionMode="checkbox" [(selection)]="selectedBaoCaos"></p-tree> -->
                  <kendo-treeview class="treeview" [nodes]="roleTree" [children]="children" [hasChildren]="hasChildren"
                    textField="name" kendoTreeViewExpandable [kendoTreeViewCheckable]="checkableSettings"
                    [(checkedKeys)]="id_roles" [checkBy]="'role_id'">
                  </kendo-treeview>
                  <div class="center" *ngIf="!loadTree2">
                    <mat-progress-spinner value="10" diameter="40" mode="indeterminate"></mat-progress-spinner>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button class="border btn btn-danger" type="button" (click)="onNoClick()"><span
        translate>common.cancel</span></button>
    <button mat-button class="border btn btn-success" type="submit" cdkFocusInitial><span
        translate>common.save</span></button>
  </div>
</form>