<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <i class="fa fa-align-justify"></i><a [routerLink]="['/admin']" translate>Admin</a>&nbsp;/&nbsp;
      <strong translate>admin.title</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
        <div class="row">
          <div class="form-group col-sm-3">
            <label for="username" translate>admin.username</label>
            <div class="control">
              <input class="form-control input is-primary" formControlName="username" />
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label for="hoTen" translate>admin.fullname</label>
            <div class="control">
              <input class="form-control input is-primary" formControlName="hoTen" />
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label></label>
            <div class="control">
              <button type="submit" class="button is-primary"><i class="fa fa-search"></i><span translate> common.search</span></button>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="index">
              <mat-header-cell class="index" *matHeaderCellDef>
                <label translate>Index </label>
              </mat-header-cell>
              <mat-cell class="index" class="mat-center" *matCellDef="let element; index as i">
                {{ paginator.pageSize * paginator.pageIndex + i + 1 }}
              </mat-cell>
            </ng-container>
            <!-- Progress Column -->
            <ng-container matColumnDef="username">
              <mat-header-cell *matHeaderCellDef mat-sort-header> <span translate>admin.username</span>  </mat-header-cell>
              <mat-cell *matCellDef="let row" class="mat-center"> {{row.username}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="maCanBo">
              <mat-header-cell *matHeaderCellDef mat-sort-header><span translate>Emp. Code</span>  </mat-header-cell>
              <mat-cell *matCellDef="let row" class="mat-center"> {{row.maCanBo}} </mat-cell>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="hoTen">
              <mat-header-cell *matHeaderCellDef mat-sort-header><span translate>admin.fullname</span>  </mat-header-cell>
              <mat-cell *matCellDef="let row" class="mat-center"> {{row.hoTen}} </mat-cell>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="lastAccessDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header><span translate>admin.lastAccess</span>  </mat-header-cell>
              <mat-cell *matCellDef="let row" class="mat-center"> {{row.lastAccessDate | amFromUtc | amDateFormat: 'DD/MM/YYYY HH:mm:ss'}}
              </mat-cell>
            </ng-container>

            <!-- Actions Column-->
            <!-- actions -->
            <mat-cell matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="primary" (click)="openAddDialog()"
                  *ngIf="permission.HT_QuanLyNguoiDung._insert">
                <label translate>common.add</label>
                </button>
              </mat-header-cell>
              <mat-cell *matCellDef="let row;" class="mat-center">
                <button mat-icon-button color="accent" (click)="openEditDialog(row)"
                  *ngIf="permission.HT_QuanLyNguoiDung._update">
                  <mat-icon aria-label="Edit">edit</mat-icon>
                </button>

                <button mat-icon-button color="warn" (click)="openDeleteDialog(row)"
                  *ngIf="permission.HT_QuanLyNguoiDung._delete">
                  <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
              </mat-cell>
            </mat-cell>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>

          <mat-paginator [pageSizeOptions]="[50, 100, 200, 500]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>