<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <strong translate>kt.dotKhenThuong.title</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
        <div class="row">
          <div class="form-group col-sm-3">
            <label translate>tq.theoDoiHuanLuyen.nam</label>
            <div class="control">
              <mat-select class="form-control input is-primary" formControlName="nam"
                [ngClass]="{ 'is-invalid': submitted && f.nam.errors }" (selectionChange)="onSearch()">
                <mat-option *ngFor="let number of numbers" [value]="number">
                  {{number}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label translate>kt.id_phanLoai</label>
            <div class="control">
              <mat-select class="form-control input is-primary" formControlName="id_phanLoai">
                <mat-option>
                  <span translate>None</span>
                </mat-option>
                <mat-option *ngFor="let phanLoai of phanLoais" [value]="phanLoai.id">
                  {{phanLoai.name}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label translate>kt.typeKhenThuong</label>
            <div class="control">
              <mat-select class="form-control input is-primary" formControlName="typeKhenThuong">
                <mat-option>
                  <span translate>None</span>
                </mat-option>
                <mat-option value="1">
                  <span translate>kt.caNhan</span>
                </mat-option>
                <mat-option value="2">
                  <span translate>kt.tapThe</span>
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label></label>
            <div class="control">
              <button type="submit" class="button is-primary"><i class="fa fa-search"></i> <span
                  translate>common.search</span></button>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="index">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>Index </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let element; index as i">
                {{paginator.pageSize * paginator.pageIndex + i + 1}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>common.name </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ngayQd">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>kt.ngayQd</label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row">
                {{row.ngayQd | amFromUtc | amDateFormat: 'DD/MM/YYYY'}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="soQd">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>kt.soQd </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row"> {{row.soQd}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="id_phanLoai">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>kt.id_phanLoai </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.tenPhanLoai}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="typeKhenThuong">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>kt.typeKhenThuong </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row">
                <span translate *ngIf="row.typeKhenThuong == 1">kt.caNhan</span>
                <span translate *ngIf="row.typeKhenThuong == 2">kt.tapThe</span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="id_danhHieuHinhThuc">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>kt.id_danhHieuHinhThuc </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.tenDanhHieuHinhThuc}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ghiChu">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>common.ghiChu </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.ghiChu}} </mat-cell>
            </ng-container>
            <mat-cell matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef fxFlex="15%">
                <button (click)="openUpdateDialog()" mat-icon-button color="primary"
                  *ngIf="permission.KT._insert">
                <label translate>common.add</label>
                </button>
              </mat-header-cell>
              <mat-cell *matCellDef="let row;" fxFlex="15%">
                <mat-select id="actions" placeholder="Tùy chọn">
                  <mat-option [routerLink]="['get/'+row.id]" routerLinkActive="router-link-active"
                    *ngIf="permission.KT._update && row.typeKhenThuong == '1'">
                    <button mat-icon-button>
                      <mat-icon aria-label="Edit">search</mat-icon>
                      <label translate>kt.ds</label>
                    </button>
                  </mat-option>
                  <mat-option [routerLink]="['getdv/'+row.id]" routerLinkActive="router-link-active"
                    *ngIf="permission.KT._update && row.typeKhenThuong == '2'">
                    <button mat-icon-button>
                      <mat-icon aria-label="Edit">search</mat-icon>
                      <label translate>kt.ds</label>
                    </button>
                  </mat-option>
                  <mat-option (click)="openUpdateDialog(row)" *ngIf="permission.KT._update">
                    <button mat-icon-button>
                      <mat-icon aria-label="Edit">edit</mat-icon>
                      <label translate>common.edit</label>
                    </button>
                  </mat-option>
                  <mat-option (click)="openDeleteDialog(row)" *ngIf="permission.KT._delete">
                    <button mat-icon-button>
                      <mat-icon aria-label="Delete">delete</mat-icon>
                      <label translate>common.delete</label>
                    </button>
                  </mat-option>
                </mat-select>
              </mat-cell>
            </mat-cell>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
              (click)="onSelectedRow(row)">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[100, 250, 500, 1000]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>