<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <strong translate>kt.dsCaNhan.title</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
        <div class="row">
          <div class="form-group col-sm-3">
            <label translate>&nbsp;</label>
            <div class="control">
              <div class="input-group-prepend" dropdown>
                <button type="button" class="btn btn-block input is-primary input" dropdownToggle translate>
                  <label translate>tq.congDan.id_donViQuanLy </label>
                  <label class="dropdown-toggle dropdown-toggle-right"></label>
                </button>
                <div class="dropdown-menu" *dropdownMenu (click)="$event.stopPropagation()">
                  <!-- <p-tree [value]="donVis" selectionMode="checkbox" [(selection)]="selectedBaoCaos"></p-tree> -->
                  <kendo-treeview class="treeview" [nodes]="donVis" [children]="children" [hasChildren]="hasChildren"
                    textField="label" kendoTreeViewExpandable [kendoTreeViewCheckable]="checkableSettings"
                    [(checkedKeys)]="id_donVis" [checkBy]="'data'" [expandBy]="'data'" [(expandedKeys)]="expandedKeys"
                    [kendoTreeViewDisable]="'data'" [(disabledKeys)]="disabledKeys">
                  </kendo-treeview>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label translate>&nbsp;</label>
            <div class="control">
              <div class="input-group-prepend" dropdown>
                <button type="button" class="btn btn-block input is-primary input" dropdownToggle translate>
                  <label translate>tq.congDan.id_donViTv </label>
                  <label class="dropdown-toggle dropdown-toggle-right"></label>
                </button>
                <div class="dropdown-menu" *dropdownMenu (click)="$event.stopPropagation()">
                  <!-- <p-tree [value]="donVis" selectionMode="checkbox" [(selection)]="selectedBaoCaos"></p-tree> -->
                  <kendo-treeview class="treeview" [nodes]="donViTvs" [children]="children" [hasChildren]="hasChildren"
                    textField="name" kendoTreeViewExpandable [kendoTreeViewCheckable]="checkableSettings"
                    [(checkedKeys)]="id_donViTvs" [checkBy]="'id'">
                  </kendo-treeview>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label translate>common.hoTenCMT</label>
            <div class="control">
              <input class="form-control input is-primary" formControlName="content" />
            </div>
          </div>
          <div class="form-group col-sm-2">
            <label>&nbsp;</label>
            <div class="control">
              <button type="submit" mat-button class="button btn is-primary float-right"><i class="fa fa-search"></i>
                <span translate>common.search</span></button>
            </div>
          </div>
          <div class="form-group col-sm-2">
            <label>&nbsp;</label>
            <div class="control">
              <button type="button" mat-button [routerLink]="['../../insert/'+ id_dotKhenThuong]"
                routerLinkActive="router-link-active" class="button btn btn-success border"><span translate>kt.themCaNhan</span>
              </button>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="index">
              <mat-header-cell *matHeaderCellDef fxFlex="10%" mat-sort-header><label translate>Index </label>
              </mat-header-cell>
              <mat-cell class="mat-center" fxFlex="10%" *matCellDef="let element; index as i">
                {{paginator.pageSize * paginator.pageIndex + i + 1}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="hoTen">
              <mat-header-cell *matHeaderCellDef fxFlex="15%" mat-sort-header><label translate>common.hoTen </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" fxFlex="15%"> {{row.hoTen}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="id_capBac">
              <mat-header-cell *matHeaderCellDef fxFlex="20%" mat-sort-header><label translate>tq.dbdv.id_capBac
                </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row" fxFlex="20%"> {{row.tenCapBac}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="id_quanHam">
              <mat-header-cell *matHeaderCellDef fxFlex="20%" mat-sort-header><label translate>tq.dbdv.id_quanHam
                </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row" fxFlex="20%"> {{row.tenQuanHam}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="id_chucDanh">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>dqtv.id_chucDanh </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row"> {{row.tenChucDanh}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="cmnd">
              <mat-header-cell *matHeaderCellDef fxFlex="10%" mat-sort-header><label translate>common.cmnd
                </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row" fxFlex="10%"> {{row.cmnd}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ghiChu">
              <mat-header-cell *matHeaderCellDef fxFlex="20%" mat-sort-header><label translate>common.ghiChu
                </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" fxFlex="20%"> {{row.ghiChu}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="id_donViQuanLy">
              <mat-header-cell *matHeaderCellDef fxFlex="20%" mat-sort-header><label translate>tq.id_donViQuanLyDonViTv
                </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row" fxFlex="20%">
                <span *ngIf="!row.tenDonViTv">{{row.tenDonViQuanLy}}</span>
                <span *ngIf="row.tenDonViTv">{{row.tenDonViTv}} </span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ngayBienChe">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tq.dbdv.ngayBienChe </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row">
                {{row.ngayBienChe | amFromUtc | amDateFormat: 'DD/MM/YYYY'}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ngaySinh">
              <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%"><label translate>common.ngaySinh </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row" fxFlex="10%">
                {{row.ngaySinh | amFromUtc | amDateFormat: 'DD/MM/YYYY'}}
              </mat-cell>
            </ng-container>
            <!-- Actions Column-->
            <!-- actions -->
            <mat-cell matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef fxFlex="15%">
                <!-- <button (click)="openUpdateDialog()" mat-icon-button color="primary"
                  *ngIf="permission.KT._insert">
                <label translate>common.add</label>
                </button> -->
              </mat-header-cell>
              <mat-cell *matCellDef="let row;" fxFlex="15%">
                <mat-select id="actions" placeholder="Tùy chọn">
                  <mat-option (click)="openDeleteDialog(row)" *ngIf="permission.KT._delete">
                    <button mat-icon-button>
                      <mat-icon aria-label="Delete">delete</mat-icon>
                      <label translate>common.delete</label>
                    </button>
                  </mat-option>
                </mat-select>
              </mat-cell>
            </mat-cell>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
              (click)="onSelectedRow(row)">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[100, 200, 500, 1000]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>