<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <strong translate>kt.dsTapThe.title</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
        <div class="row">
          <div class="form-group col-sm-2">
            <label>&nbsp;</label>
            <div class="control">
              <button type="button" mat-button (click)="openUpdateDialog({id_dotKhenThuong: id_dotKhenThuong})"
                class="button border btn btn-success"><span translate>kt.capNhatTapThe</span> </button>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="index">
              <mat-header-cell *matHeaderCellDef fxFlex="20%" mat-sort-header><label translate>Index </label>
              </mat-header-cell>
              <mat-cell class="mat-center" fxFlex="20%" *matCellDef="let element; index as i">
                {{paginator.pageSize * paginator.pageIndex + i + 1}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="id_donViQuanLy">
              <mat-header-cell *matHeaderCellDef fxFlex="80%" mat-sort-header><label translate>tq.id_donViQuanLyDonViTv
                </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" fxFlex="80%">
                <span>{{row.tenDonVi}} </span>
              </mat-cell>
            </ng-container>
            <!-- Actions Column-->
            <!-- actions -->
            <mat-cell matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef fxFlex="15%">
                <!-- <button (click)="openUpdateDialog()" mat-icon-button color="primary"
                  *ngIf="permission.KT._insert">
                <label translate>common.add</label>
                </button> -->
              </mat-header-cell>
              <mat-cell *matCellDef="let row;" fxFlex="15%">
                <mat-select id="actions" placeholder="Tùy chọn">
                  <mat-option (click)="openDeleteDialog(row)" *ngIf="permission.KT._delete">
                    <button mat-icon-button>
                      <mat-icon aria-label="Delete">delete</mat-icon>
                      <label translate>common.delete</label>
                    </button>
                  </mat-option>
                </mat-select>
              </mat-cell>
            </mat-cell>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
              (click)="onSelectedRow(row)">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[100, 200, 500, 1000]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>