<div class="animated fadeIn">
  <!-- <div class="card card-default"> -->
  <div>
    <h1 translate>info.title</h1>
  </div>
  <div class="card">
    <mat-tab-group animationDuration="1000ms" mat-align-tabs="center" *ngIf="info" [color]="'white'">
      <mat-tab>
        <ng-template mat-tab-label>
          <span translate>info.detail</span>
        </ng-template>
        <div class="card-body row">
          <div class="col-md-3 row">
            <!-- <div mat-card-avatar style="background-size: cover;" [ngStyle]="{'background-image': getUrlImg(info)}">
            </div> -->
            <div class="col-md-4"></div>

            <div class="col-md-8">
              <img mat-card-image [src]="getUrlImg(info)" alt="Avatar">
            </div>
          </div>
          <div class="col-md-9">
            <div class="form-group row">
              <label class="col-md-4" translate>info.hoTen</label>
              <div class="control col-md-8">
                <label class="form-control input is-primary">{{info.HoTen}}</label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4" translate>info.maNhanVien</label>
              <div class="control col-md-8">
                <label class="form-control input is-primary">{{info.MaCanBo}}</label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4" translate>info.gioiTinh</label>
              <div class="control col-md-8">
                <label class="form-control input is-primary" *ngIf="info.GioiTinh == true" translate>common.gioiTinh.nam</label>
                <label class="form-control input is-primary" *ngIf="info.GioiTinh == false" translate>common.gioiTinh.nu</label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4" translate>info.ngaySinh</label>
              <div class="control col-md-8">
                <label class="form-control input is-primary">{{info.ngaySinh}}</label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4" translate>info.email</label>
              <div class="control col-md-8">
                <label class="form-control input is-primary">{{info.Email}}</label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4" translate>info.dienThoaiDD</label>
              <div class="control col-md-8">
                <label class="form-control input is-primary">{{info.DienThoaiDD}}</label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4" translate>info.donViCongTac</label>
              <div class="control col-md-8">
                <label class="form-control input is-primary">{{info.DonViCongTac}}</label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4" translate>info.chucDanh</label>
              <div class="control col-md-8">
                <label class="form-control input is-primary">{{info.TenChucDanh}}</label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4" translate>info.chucVu</label>
              <div class="control col-md-8">
                <label class="form-control input is-primary">{{info.TenChucVu}}</label>
              </div>
            </div>
          </div>
          <br>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span translate>info.quaTrinhCongTac</span>
        </ng-template>
        <br>
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataCongTac" matSort>
            <ng-container matColumnDef="index">
              <th mat-header-cell class="index" *matHeaderCellDef> <label translate>Index </label> </th>
              <td mat-cell class="index" *matCellDef="let element; index as i" v style="text-align: center;">
                {{i + 1}} </td>
            </ng-container>
            <ng-container matColumnDef="tuNgay">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>common.tuNgay </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row">
                {{row.TuNgay}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="denNgay">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>common.denNgay </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row">
                {{row.DenNgay}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="donViCongTac">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>info.donViCongTac </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.TenDonVi}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="chucDanh">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>info.chucDanh </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.TenChucDanh}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="chucVu">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>info.chucVu </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.TenChucVu}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tenLoaiCongTac">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>info.tenLoaiCongTac </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.TenLoaiQTCongTac}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedCongTacs"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedCongTacs;" [ngClass]="{ 'selected': row == selectedRow }"
              (click)="onSelectedRow(row)">
            </mat-row>
          </mat-table>
          <!-- <mat-paginator [pageSizeOptions]="[100, 250, 500, 1000]"></mat-paginator> -->
          <br>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span translate>info.quaTrinhHopDong</span>
        </ng-template>
        <br>
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataHopDong" matSort>
            <ng-container matColumnDef="index">
              <th mat-header-cell class="index" *matHeaderCellDef> <label translate>Index </label> </th>
              <td mat-cell class="index" *matCellDef="let element; index as i" v style="text-align: center;">
                <!-- {{paginator.pageSize * paginator.pageIndex + i + 1}} </td> -->
                {{i + 1}}
              </td>
            </ng-container>
            <ng-container matColumnDef="tuNgay">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>common.tuNgay </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row">
                {{row.TuNgay}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="denNgay">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>common.denNgay </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row">
                {{row.DenNgay}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="soHopDong">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>info.soHopDong </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.soHopDong}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ngayHieuLuc">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>info.ngayHieuLuc </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row">
                {{row.NgayHieuLuc | amFromUtc | amDateFormat: 'DD/MM/YYYY'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="chucDanh">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>info.chucDanh </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.TenChucDanh}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>info.chucVu </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.TenChucVu}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedHopDongs"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedHopDongs;" [ngClass]="{ 'selected': row == selectedRow }"
              (click)="onSelectedRow(row)">
            </mat-row>
          </mat-table>
          <!-- <mat-paginator [pageSizeOptions]="[100, 250, 500, 1000]"></mat-paginator> -->
          <br>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span translate>info.giamTruGiaCanh</span>
        </ng-template>
        <br>
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataGiamTru" matSort>
            <ng-container matColumnDef="index">
              <th mat-header-cell class="index" *matHeaderCellDef> <label translate>Index </label> </th>
              <td mat-cell class="index" *matCellDef="let element; index as i" v style="text-align: center;">
                <!-- {{paginator.pageSize * paginator.pageIndex + i + 1}} </td> -->
                {{i + 1}}
              </td>
            </ng-container>
            <ng-container matColumnDef="hoTen">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>info.hoTen </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.HoTen}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tuThang">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>info.tuThang </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.tuThang}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="denThang">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>info.denThang </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.denThang}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="maSoThue">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>info.maSoThue </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.maSoThue}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ngaySinh">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>info.chucDanh </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{row.NgaySinh | amFromUtc | amDateFormat: 'DD/MM/YYYY'}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="cmnd">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>info.chucVu </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.TenChucVu}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="quanHe">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>info.tenLoaiCongTac </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.TenLoaiQTCongTac}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedGiamTrus"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedGiamTrus;" [ngClass]="{ 'selected': row == selectedRow }"
              (click)="onSelectedRow(row)">
            </mat-row>
          </mat-table>
          <!-- <mat-paginator [pageSizeOptions]="[100, 250, 500, 1000]"></mat-paginator> -->
          <br>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span translate>info.khenThuongKyLuat</span>
        </ng-template>
        <br>
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataKhenThuong" matSort>
            <ng-container matColumnDef="index">
              <th mat-header-cell class="index" *matHeaderCellDef> <label translate>Index </label> </th>
              <td mat-cell class="index" *matCellDef="let element; index as i" v style="text-align: center;">
                <!-- {{paginator.pageSize * paginator.pageIndex + i + 1}} </td> -->
                {{i + 1}}
              </td>
            </ng-container>
            <ng-container matColumnDef="loaiKhenThuong">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>info.loaiKhenThuong </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.HoTen}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="khenThuong">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>info.khenThuong </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.tuThang}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="nam">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>info.nam </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.nam}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="soQuyetDinh">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>info.soQuyetDinh </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.TenChucDanh}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ngayRaQuyetDinh">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>info.ngayRaQuyetDinh </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{row.NgayRaQuyetDinh | amFromUtc | amDateFormat: 'DD/MM/YYYY'}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ghiChu">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>info.ghiChu </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.GhiChu}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedKhenThuongs"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedKhenThuongs;" [ngClass]="{ 'selected': row == selectedRow }"
              (click)="onSelectedRow(row)">
            </mat-row>
          </mat-table>
          <br>
          <!-- <mat-paginator [pageSizeOptions]="[100, 250, 500, 1000]"></mat-paginator> -->
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <!-- </div> -->
</div>