<form [formGroup]="tqForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content style="height: 500px;">
    <h2 mat-dialog-title><span translate>kt.dsTapThe.update.title</span></h2>
    <div class="form-group row">
      <div class="form-group col-sm-6">
        <label translate>&nbsp;</label>
        <div class="control">
          <div class="input-group-prepend" dropdown>
            <button type="button" class="btn btn-block input is-primary input" dropdownToggle translate>
              <label translate>tq.congDan.id_donViQuanLy </label>
              <label class="dropdown-toggle dropdown-toggle-right"></label>
            </button>
            <div class="dropdown-menu" *dropdownMenu (click)="$event.stopPropagation()">
              <!-- <p-tree [value]="donVis" selectionMode="checkbox" [(selection)]="selectedBaoCaos"></p-tree> -->
              <kendo-treeview class="treeview" [nodes]="donVis" [children]="children" [hasChildren]="hasChildren"
                textField="label" kendoTreeViewExpandable [kendoTreeViewCheckable]="checkableSettings"
                [(checkedKeys)]="id_donVis" [checkBy]="'data'" [expandBy]="'data'" [(expandedKeys)]="expandedKeys"
                    [kendoTreeViewDisable]="'data'" [(disabledKeys)]="disabledKeys">
              </kendo-treeview>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-6">
        <label translate>&nbsp;</label>
        <div class="control">
          <div class="input-group-prepend" dropdown>
            <button type="button" class="btn btn-block input is-primary input" dropdownToggle translate>
              <label translate>tq.congDan.id_donViTv </label>
              <label class="dropdown-toggle dropdown-toggle-right"></label>
            </button>
            <div class="dropdown-menu" *dropdownMenu (click)="$event.stopPropagation()">
              <!-- <p-tree [value]="donVis" selectionMode="checkbox" [(selection)]="selectedBaoCaos"></p-tree> -->
              <kendo-treeview class="treeview" [nodes]="donViTvs" [children]="children" [hasChildren]="hasChildren"
                textField="name" kendoTreeViewExpandable [kendoTreeViewCheckable]="checkableSettings"
                [(checkedKeys)]="id_donViTvs" [checkBy]="'id'">
              </kendo-treeview>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button class="border btn btn-danger" type="button" (click)="onNoClick()"><span
        translate>common.cancel</span></button>
    <button mat-button class="border btn btn-success" type="submit" cdkFocusInitial><span
        translate>common.save</span></button>
  </div>
</form>