<form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
  <div class="">
    <div class="form-group field">
      <label translate>workFlow.id_workFlow_state_action</label><span style="color: red;">*</span>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_workFlow_state_action"
        [ngClass]="{ 'is-invalid': submitted && f.id_workFlow_state_action.errors }"
        (selectionChange)="pushData()">
        <mat-option *ngFor="let action of workFlowStateActions" [value]="action.SYS_WorkFlow_State_Action_ID">
          {{action.Name}}
        </mat-option>
      </mat-select>   
      <div *ngIf="submitted && f.id_workFlow_state_action.errors" class="help is-danger">
        <div *ngIf="f.id_workFlow_state_action.errors.required" translate>workFlow.id_workFlow_state_action.required</div>
      </div>
    </div>

    </div>
    <div class="form-group field">
      <label translate>vb.noiDung</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="noiDung" (change)="pushData()"
          [ngClass]="{ 'is-invalid': submitted && f.noiDung.errors }" />
      </div>
    </div>
  </div>
</form>