<ng-container *ngIf="typeMenu == 1">
  <header class="app-header nav custom-background" style="height: auto !important; z-index: 900 !important">
    <a href="/">
      <img src="assets/img/brand/logo.svg" style="padding: 20px; margin: -5px;" width="140"
        height="50" alt="Bi.EMS Logo">
    </a>
    <ul class="custom-menu" nz-menu nzMode="horizontal" nzTheme="dark">
      <ng-container *ngFor="let navItem of navItems">
        <li nz-submenu class="custom-item" *ngIf="navItem.children" nzTitle="{{navItem.name}}">
          <ul *ngFor="let item of navItem.children">
            <li nz-submenu class="custom-item" nzTitle="{{item.name}}" *ngIf="item.children">
              <ul>
                <li nz-menu-item class="custom-item" *ngFor="let item1 of item.children" [routerLink]=item1.url>
                  {{item1.name}}</li>
              </ul>
            </li>
            <li nz-menu-item class="custom-item" *ngIf="!item.children" [routerLink]=item.url>{{item.name}}</li>
          </ul>
        </li>
        <li class=" custom-item" nz-menu-item *ngIf="!navItem.children" [routerLink]=navItem.url>{{navItem.name}}
        </li>
      </ng-container>
    </ul>
    <ul class="nav navbar-nav custom-background ml-auto">
      <li class="nav-item" *ngIf="user" translate>
        <a class="nav-link" (click)="logout()" href="#/login" title="Logout"><i class="fa fa-sign-out"></i></a>
      </li>
      <li class="nav-item dropdown" dropdown placement="bottom right" *ngIf="user">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
          dropdownToggle (click)="false">
          <img src="/assets/img/avatars/user.png" class="img-avatar" />
        </a>
        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
          <div class="dropdown-header text-center">
            <strong style="color: green;" translate>
              <span translate>common.welcome <strong style="color: green;">{{ user.HoTen }}</strong></span>
            </strong>
          </div>
          <!-- <a class="dropdown-item" href="#" translate><i class="fa fa-user"></i> Profile</a> -->
          <a class="dropdown-item" routerLink="/change-pass" translate><i
              class="fa fa-wrench"></i>common.changePassword</a>
          <div class="divider"></div>
          <a class="dropdown-item" (click)="logout()" translate><i class="fa fa-lock"></i>common.logout</a>
        </div>
      </li>
      <li class="nav-item dropdown" dropdown placement="bottom right">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
          dropdownToggle (click)="false">
          <span class="navbar-toggler-icon"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
          <a class="dropdown-item" href="#" (click)="selectLanguageVI()"><i class="flag-icon flag-icon-vn"></i> Tiếng
            Việt</a>
          <a class="dropdown-item" href="#" (click)="selectLanguageEN()"><i class="flag-icon flag-icon-gb"></i>
            English</a>
        </div>
      </li>
    </ul>
  </header>
</ng-container>
<ng-container *ngIf="typeMenu == 2">
  <app-header [navbarBrandRouterLink]="['/dashboard']" [fixed]="false"
    [navbarBrandFull]="{src: 'assets/img/brand/logo.svg', width: 89, height: 25, alt: 'Bi.EMS Logo'}"
    [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'Bi.EMS Logo'}"
    [sidebarToggler]="'lg'" [mobileAsideMenuToggler]="false" [asideMenuToggler]="false" class="custom-background">

    <ul class="nav navbar-nav custom-background ml-auto">
      <li class="nav-item" *ngIf="user">
        <span style="color: white;" translate>common.welcome <strong style="color: white;">{{ user.HoTen
            }}</strong></span>
      </li>
      <li class="nav-item" *ngIf="user" translate>
        <a class="nav-link" (click)="logout()" href="#/login" title="Logout"><i class="fa fa-sign-out"></i></a>
      </li>
      <li class="nav-item dropdown" dropdown placement="bottom right" *ngIf="user">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
          dropdownToggle (click)="false">
          <img src="/assets/img/avatars/user.png" class="img-avatar" />
        </a>
        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
          <a class="dropdown-item" routerLink="/change-pass" translate><i
              class="fa fa-wrench"></i>common.changePassword</a>
          <div class="divider"></div>
          <a class="dropdown-item" (click)="logout()" translate><i class="fa fa-lock"></i>common.logout</a>
        </div>
      </li>
      <li class="nav-item dropdown" dropdown placement="bottom right">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
          dropdownToggle (click)="false">
          <span class="navbar-toggler-icon"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
          <a class="dropdown-item" href="#" (click)="selectLanguageVI()"><i class="flag-icon flag-icon-vn"></i> Tiếng
            Việt</a>
          <a class="dropdown-item" href="#" (click)="selectLanguageEN()"><i class="flag-icon flag-icon-gb"></i>
            English</a>
        </div>
      </li>
    </ul>
  </app-header>
</ng-container>
<div class="app-body">
  <div *ngIf="typeMenu == 2">
    <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized"
      (minimizedChange)="toggleMinimize($event)">
      <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
      <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
  </div>
  <main class="main">
    <div>&nbsp;</div>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
  <app-aside [fixed]="false" [display]="false" [ngClass]="'test'">
  </app-aside>
</div>
<app-loader></app-loader>