<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <strong translate>dqtv.donVi</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="mat-elevation-z2">
            <p-treeTable [value]="dsDonVis" [columns]="colsDonVi">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns" [ngClass]="setClass(col.class)">
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns; let i = index">
                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                    <span *ngIf="col.field != 'actions'">
                      {{(col.field == 'ngayBatDau' || col.field == 'tuNgay') ? (rowData[col.field] | date: 'dd/MM/yyyy') : rowData[col.field]}}
                    </span>
                    <span *ngIf="col.field == 'actions'">
                      <button mat-icon-button color="primary" (click)="openDonViDialog({id_donvi : rowData['donvi_id']})"
                        *ngIf="permission.CB_BCHQS._insert">
                        <mat-icon aria-label="Add">add</mat-icon>
                      </button>
                      <button mat-icon-button color="accent" (click)="openDonViDialog({id_donvi : rowData['donvi_id'], body : rowData })"
                        *ngIf="permission.CB_BCHQS._update">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                      </button>
                      <button mat-icon-button color="warn" (click)="openDeleteDialog({ body : rowData })"
                        *ngIf="permission.CB_BCHQS._delete">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                      </button>
                    </span>
                  </td>
                </tr>
              </ng-template>
            </p-treeTable>
            <div class="center" *ngIf="!loadTable1">
              <mat-progress-spinner value="10" diameter="40" mode="indeterminate"></mat-progress-spinner>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>