<form [formGroup]="donViForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>dqtv.donvi.update.title</h2>
    <div class="form-group field">
      <label translate>common.code</label> <span style="color: red;">*</span>
      <div class="control">
        <input class="form-control input is-primary" formControlName="maDonVi"
          [ngClass]="{ 'is-invalid': submitted && f.maDonVi.errors }" />
        <div *ngIf="submitted && f.maDonVi.errors" class="help is-danger">
          <div *ngIf="f.maDonVi.errors.required" translate>common.validate.code.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>common.name</label> <span style="color: red;">*</span>
      <div class="control">
        <input class="form-control input is-primary" formControlName="tenDonVi"
          [ngClass]="{ 'is-invalid': submitted && f.tenDonVi.errors }" />
        <div *ngIf="submitted && f.tenDonVi.errors" class="help is-danger">
          <div *ngIf="f.tenDonVi.errors.required" translate>common.validate.name.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>dqtv.ngayBatDau</label> <span style="color: red;">*</span>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="ngayBatDau"
          [ngClass]="{ 'is-invalid': submitted && f.ngayBatDau.errors }" />
        <div *ngIf="submitted && f.ngayBatDau.errors" class="help is-danger">
          <div *ngIf="f.ngayBatDau.errors.required" translate>dqtv.validate.ngayBatDau.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>tq_dqtv.donViTv.id_quyMoToChuc</label><span style="color: red;">*</span>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_quyMoToChuc">
          <mat-option *ngFor="let quyMoToChuc of quyMoToChucs" [value]="quyMoToChuc.id">
            {{quyMoToChuc.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_quyMoToChuc.errors" class="help is-danger">
          <div *ngIf="f.id_quyMoToChuc.errors.required" translate>tq_dqtv.validate.id_quyMoToChuc.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>tq_dqtv.donViTv.id_capDonVi</label><span style="color: red;">*</span>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_capDonVi">
          <mat-option *ngFor="let capDonVi of capDonVis" [value]="capDonVi.id">
            {{capDonVi.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_capDonVi.errors" class="help is-danger">
          <div *ngIf="f.id_capDonVi.errors.required" translate>tq_dqtv.validate.id_capDonVi.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>tq.khoiCq</label><span style="color: red;">*</span>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="khoiCq">
          <mat-option [value]="1">
            <span translate>tq.trungUong</span>
          </mat-option>
          <mat-option [value]="2">
            <span translate>tq.coSo</span>
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.khoiCq.errors" class="help is-danger">
          <div *ngIf="f.khoiCq.errors.required" translate>tq.validate.khoiCq.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>tq.phanCap</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="phanCap">
          <mat-option [value]="1">
            <span translate>tq.nongThon</span>
          </mat-option>
          <mat-option [value]="2">
            <span translate>tq.thanhThi</span>
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2" translate>tq-dqtv.diaChi</label>
      <div class="control col-md-3">
        <mat-select class="form-control input is-primary" formControlName="id_tinh"
          (selectionChange)="loadHuyen($event.value)">
          <mat-option *ngFor="let tinh of tinhs" [value]="tinh.id">
            {{tinh.name}}
          </mat-option>
        </mat-select>
      </div>
      <div class="control col-md-3" *ngIf="f.id_capDonVi.value > 1">
        <mat-select class="form-control input is-primary" formControlName="id_huyen"
          (selectionChange)="loadXa($event.value)">
          <mat-option *ngFor="let huyen of huyens" [value]="huyen.id">
            {{huyen.name}}
          </mat-option>
        </mat-select>
      </div>
      <div class="control col-md-3" *ngIf="f.id_capDonVi.value > 2">
        <mat-select class="form-control input is-primary" formControlName="id_xa"
          [ngClass]="{ 'is-invalid': submitted && f.id_xa.errors }">
          <mat-option *ngFor="let xa of xas" [value]="xa.id">
            {{xa.name}}
          </mat-option>
        </mat-select>
      </div>
      <div *ngIf="submitted && f.id_diaPhuong.errors" class="help is-danger">
        <div *ngIf="f.id_diaPhuong.errors.required" translate>tq.validate.id_diaPhuong.required</div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button class="border btn btn-danger" type="button" (click)="onNoClick()"><span
        translate>common.cancel</span></button>
    <button mat-button class="border btn btn-success" type="submit" cdkFocusInitial><span
        translate>common.save</span></button>
  </div>
</form>